@font-face {
	font-family: 'RotisSemiSansStd-Bold';
    src: url('../fonts/original_RotisSemiSansStd-Bold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/original_RotisSemiSansStd-Bold.woff') format('woff'),
         url('../fonts/original_RotisSemiSansStd-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RotisSemiSansStd-Light';
    src: url('original_RotisSemiSansStd-Light.eot?#iefix') format('embedded-opentype'), 
         url('original_RotisSemiSansStd-Light.woff') format('woff'),
         url('original_RotisSemiSansStd-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'RotisSemiSansStd-Italic';
    src: url('original_RotisSemiSansStd-Italic.eot?#iefix') format('embedded-opentype'), 
         url('original_RotisSemiSansStd-Italic.woff') format('woff'),
         url('original_RotisSemiSansStd-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}