@keyframes bgZoom { 
 0% {
	transform: scale(1.2);
 }
}

@keyframes slideInUp {
   from {
       opacity: 0;
       transform: translate3d(0, 10%, 0);
   }

   to {
       transform: translate3d(0, 0, 0);
   }
}

.animate {
   visibility: hidden;
}

.animate-in {
   animation-name: slideInUp;
   animation-duration: 1s;
   animation-fill-mode: both;
   visibility: visible;
}

.slideInUp {
   animation-name: slideInUp;
}

.bgZoom {
 animation-name: bgZoom;
 -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
 animation-duration: 3s;
}

.fadeInUp {
  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
 	animation-duration: 1.5s;
}

