.body-aplicaciones {
	height: auto;
	position: relative;

	.el-cobre-body {
		.text-826252 {
				@include break(phone) {
					padding: 0px 0px 0px 0px;
			}
		}
	}

	h1 {
		text-transform: uppercase;
		padding: 31px 0px 0px 0px;
	}

	.sidebar {
		background-color: #fff;
		box-shadow: -9px 13px 30px 0 rgba(28,62,111,0.17);
		height: auto;
		top: -50px;
		padding-bottom: 33px;
		position: relative;
		width: 339px;
		z-index: 9!important;

		@include break(landscape) {
			margin-top: 0px;
			width: 100%;
			padding: 0;
		}

		@include break(phone) {
			margin-top: 0px;
			width: 100%;
			padding: 0;
			display: none;
		}

		ul, .scroll-nav__list {
			text-align: left;

			a {
				text-decoration: none;
			}

			@include break(landscape) {
				margin: 0;
		    margin-top: 20px;
		    border: solid 1px #000;
		    padding: 0;
		    text-align: center;
			}

			@include break(phone) {
				margin: 0;
			    margin-top: 20px;
			    border: solid 1px #000;
			    padding: 0;
			    text-align: center;
			}

			li, .scroll-nav__item {
				color: #91B8B1;
				cursor: pointer;
			    font-family: 'RotisSemiSansStd-Bold';
			    font-size: 16px;
			    letter-spacing: 1px;
			    list-style: none;
				padding: 35px 0px 13px 0px;
				text-transform: uppercase;
				position: relative;

				a {
					color: #91B8B1;
					cursor: pointer;
				    font-family: 'RotisSemiSansStd-Bold';
				    font-size: 16px;
				    letter-spacing: 1px;
				    list-style: none;
					padding: 35px 0px 13px 0px;
					text-transform: uppercase;
					position: relative;
				}

				@include break(phone) {
					padding: 13px 0px 13px 0px;
				}

				&:hover {
					&:before {
						color: #826252;
						content: '\f061';
						font-size: 14px;
						font-family: FontAwesome;
						position: absolute;
	    				right: 20px;

	    			@include break(landscape){
	    				content: "\f063";
	    			}

	    			@include break(phone){
	    				content: "\f063";
	    			}
					}
				}
			}
			.current-active {
				&:before {
					color: #826252;
					content: '\f061';
					font-size: 14px;
					font-family: FontAwesome;
					position: absolute;
    			right: 28px;

    			@include break(landscape){
    				content: "\f063";
    			}

    			@include break(phone){
    				content: "\f063";
    			}
				}
			}
		}
	}

	h3 {
		color: #826252;
		font-size: 20px;	
		letter-spacing: 1px;	
		line-height: 24px;

		@include break(phone) {
			padding: 0px 0px 20px 0px;
    		margin: 0;
		}

		@include break(small) {
			padding: 0px 0px 20px 0px;
    		margin: 0;
		}
	}

	.text {
		padding: 0px 0px 12px 0px;
	}

	.line {
		margin: 0 auto;
		margin-top: 33px;
	}

	.video {
		height: 467px;
		background-size: cover;
    	background-position: center center;
		margin-top: 52px;
		margin-bottom: 20px;	
		overflow: hidden;
		position: relative;
		width: 770px;

		@include break(landscape) {
			height: 300px;
			width: 100%;
		}

		@include break(phone) {
			height: 300px;
			width: 100%;
		}

		img {
			visibility: hidden;
		}
	}

	.body-text-aplicaciones {
		height: auto;
		width: 770px;
		position: relative;
		padding-bottom: 68px;
		text-align: left;

		@include break(landscape) {
			width: 100%;
			padding-bottom: 20px;
		}

		@include break(phone) {
			width: 100%;
			padding-bottom: 20px;
			//margin-top: 120px;
		}

		@include break(small) {
			width: 100%;
			padding-bottom: 20px;
		}


		p cite {
			color: #826252;
			font-family: 'RotisSemiSansStd-Bold';
			font-size: 18px;
			font-style: inherit;
			letter-spacing: 1px;
			line-height: 28px;
			padding: 50px 0px 28px 0px;

			@include break(phone) {
				font-size: 16px;
				padding: 20px 0px 10px 0px;
				line-height: 24px;
			}

			@include break(small) {
				font-size: 16px;
				padding: 20px 0px 10px 0px;
				line-height: 24px;
			}
		}

		.text-bajada {
			p {
				color: #826252;
				font-family: 'RotisSemiSansStd-Bold';
				font-size: 18px;
				letter-spacing: 1px;
				line-height: 28px;
				padding: 70px 0px 28px 0px; 

				@include break(landscape) {
					padding: 20px 0px 20px 0px;
					font-size: 16px;
	    			line-height: 24px;
				}

				@include break(phone) {
					padding: 20px 0px 20px 0px;
					font-size: 16px;
	    			line-height: 24px;
				}
				
				@include break(small) {
					padding: 20px 0px 20px 0px;
					font-size: 16px;
	    			line-height: 24px;
				}
			}
		}
	}
}

.section-relative {
	position: relative;
	text-align: center;
	z-index: 1;

	@include  break(phone){
		padding: 0;
	}
}