html {
	-webkit-font-smoothing: antialiased;
}

body {
	line-height: normal !important;
}
h1,h2, h3,h4, button, blockquote {
	color: #91B8B1;
	font-family: 'RotisSemiSansStd-Bold';
	font-size: 32px;
	letter-spacing: 1px;
	line-height: 38px;
	text-decoration: none;

	&:hover a{
		color: #fff!important;
		
	}

	&:focus {
		outline: none!important;
	}
}

a {
	text-decoration: none;
	color: #4C5D68;

	&:hover {
		color: #fff;
		text-decoration: none;
	}

	&:focus {
		text-decoration: none;
		color: #91B8B1;
		outline: none!important;
	}
}

p {
	font-family: 'RotisSemiSansStd-Light';
	font-size: 16px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 0px 0px 0px 0px;

	@include break(phone) {
		text-align: justify!important;
	}
}
span {
	font-family: 'RotisSemiSansStd-bold';
}
a {
	text-decoration: none;
	color: #4C5D68;

	&:hover {
		text-decoration: none;
	}
}
#wrapper {
  max-width: 1920px;
  margin: auto;
  position: relative;
  width: 100%;
  z-index: 1;
}

.content-card {
	background-color: #E9F1EF;
	height: 487px;
	position: relative;
	width: 100%;

	@include break(landscape) {
		height: auto;
	}

	@include break(phone) {
		height: auto;
		margin-bottom: 40px;
	}

	.card {
		background-color: #fff;
		display: flex;
		height: 479px;
		left: 50%;
		margin-left: -587px;
		position: absolute;
		top: -68px;
		width: 1174px;

		@include break(landscape) {
			left: 0px;
			margin-left: 0px;
			position: relative;
			padding-bottom: 40px;
			top: 0px;
			height: 100%;
			width: 100%;
		}

		.image {
			background-size: cover;
			background-position: center center;
			height: 100%;
			overflow: hidden;
			position: relative;
			width: 485px;
			display: inline-block;

			@include break(landscape) {
				width: 192px;
				display: none;
			}

			@include break(phone) {
				display: none;
			}

			img {
				visibility: hidden;
			}
		}
	}

	.body-text {
		height: 100%;
		position: relative;
		width: 689px;
		display: inline-block;

		@include break(landscape) {
			height: auto;
			text-align: center;
			width: 100%;
		}

		h2 {
			padding: 16px 0px 0px 56px;

			@include break(landscape) {
				padding-left: 20px;
				padding-right: 20px;
			}
		}

		p {
			font-size: 16px;	
			letter-spacing: 1px;	
			line-height: 24px;
			padding: 0px 98px 10px 56px;

			@include break(landscape) {
				padding: 20px 20px 20px 20px;
			}
		}

		a {
			@include break(phone) {
				margin: 20px 0px 0px 0px !important;
			}

			@include break(small) {
				margin: 20px 0px 0px 0px !important;
			}
		}

		.super-button {
			padding: 13px 40px 13px 40px;
			text-decoration: none;

			@include break(landscape) {
				margin: 20px 20px 0px 20px;
				font-size: 16px;
			}

			@include break(phone) {
				font-size: 16px;
				margin: 20px 0px 0px 20px;
			}

			@include break(small) {
				font-size: 16px;
				margin: 20px 0px 0px 20px;
    		padding: 10px 30px 10px 30px;
			}
		}
	}
}

.line {
	box-sizing: border-box;
	border: 1px solid #91B8B1;
	height: 1px;
	margin: 17px 0px 46px 56px;
	transform: scaleY(-1);
	width: 70px;

	@include break(landscape) {
		margin-left: 20px;
		margin: 0 auto;
	}
}


.padding-txt {
	padding-bottom: 20px;
}

.button {
	border: 2px solid #91B8B1;
	background-color: #FFFFFF;
	color: #4C5D68;
	font-size: 18px;
	margin: 17px 0px 0px 56px;
	text-transform: uppercase;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	line-height: 53px;
	height: 53px;
  padding: 0px 43px 0px 43px;

  a {
  	text-decoration: none!important;
  	color: #4C5D68;
  	&:focus {
  		appareance: none!important;
  		outline: none!important;
  	}
  }

	@include break(landscape) {
		margin-left: 20px;
	}

	&:focus {
		outline: none;
	}
	&:hover {
		background-color: #91B8B1;
		color: #fff;
		-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	}
}

.slick-slide {
	&:focus {
		appareance: none;
		outline: none;
	}
}

.form-control {
	text-align: left;

	&:focus {
		border-color: transparent!important;
		outline: none!important;

	}
}