.banner-default-pages {
	background-color: #826252;
	height: 680px;  
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 100%;

	@include break(landscape) {
		height: 400px;
	}

	@include break(phone) {
		height: 300px;
	}

	.background-image-bg {
		background-size: cover;
    	background-position: center center;
		height: 100%;
    	filter: opacity(0.8);
		position: relative;
		width: 100%;
	}

	.header-content {
		color: #fff;
	    display: flex;
	    flex-wrap: wrap;
	    height: 100px;
		justify-content: center;
	    left: 50%;
	    margin-left: -450px;
	    margin-top: -50px;
	    position: absolute;
	    top: 50%;
	    width: 960px;

    @include break(landscape) {
    	top: -60%;
	    margin-top: 0px;
	    margin-left: 0px;
	    left: 0;
	    width: 90%;
	    margin: 0 auto;
	    position: relative;
    }

    @include break(phone) {
    	top: -60%;
	    margin-top: 0px;
	    margin-left: 0px;
	    left: 0;
	    width: 90%;
	    margin: 0 auto;
	    position: relative;
    }

    @include break(small) {
    	top: -60%;
	    margin-top: 0px;
	    margin-left: 0px;
	    left: 0;
	    width: 90%;
	    margin: 0 auto; 
	    position: relative;
    }

		h1 {
			color: #fff;
			font-size: 70px;	
			letter-spacing: 2px;	
			line-height: 55px;
			text-transform: uppercase;
			position: relative;

			&:before {
    			background-color: #fff;
				content: '';
    			height: 1px;
    			left: -80px;
    			position: absolute;
    			top: 15px;
    			width: 60px;

			}

			@include break(phone) {
				font-size: 40px;
			}
		}

		p {
			font-size: 18px;
			letter-spacing: 1px;
			line-height: 28px;
			text-align: center;
			width: 770px;
			//margin-left: 150px;
	
			@include break(landscape) {
				margin: 10px 0px 0px 0px;
			}

			@include break(phone){
				margin: 0px 0px 0px 0px;
			    line-height: 20px;
			    padding: 0px 0px 0px 0px;
			    width: 100%;
			}

			@include break(small){
				margin: 0px 0px 0px 0px;
			    line-height: 20px;
			    padding: 0px 0px 0px 0px;
			    width: 100%;
			}
		}

		.set-title {
			width: 747px;
			font-size: 48px;
			letter-spacing: 1px;
			line-height: 55px;

			@include break(phone) {
			    font-size: 30px;
			    letter-spacing: 1px;
			    line-height: 37px;
			    margin-top: -30px;
				width: 100%;
			}
		}

		.set-title-caws{
			width: 550px;
		    font-size: 70px;
		    letter-spacing: 1px;
		    line-height: 70px;

		    @include break(phone) {
		    	font-size: 36px;
		    	line-height: 40px;
		    }
		}

		.line {
			background-color: #fff;
			border: 0px solid #fff;
			margin: 45px 50px 0px 0px;
			position: absolute;
			top: 0px;
			left: 0px;

			@include break(landscape){
				display: none;
				margin: 45px 0px 0px 0px;
			}
		}
	}

	.header-content-aplicaciones {
	    margin-left: -280px;
	    width: 560px;
	    left: 50%;

		h2 {
			color: #fff;
			font-size: 70px;	
			letter-spacing: 2px;	
			line-height: 75px;
			text-transform: uppercase;
			position: relative;

			&:before {
    			background-color: #fff;
				content: '';
    			height: 1px;
    			left: -80px;
    			position: absolute;
    			top: 15px;
    			width: 60px;
			}

			@include break(phone) {
				font-size: 40px;
			}
		}
	}

	.breadcrumb {
		background-color: transparent;
		display: flex;
		justify-content: center;
		height: 40px;
		margin: 0;
		position: relative;
		width: 100%;
		margin-top: -40px;
		display: flex;
		align-items: center;

		@include break(phone) {
			position: absolute;
			top: 35px;
		}

		@include break(small) {
			position: absolute;
			top: 35px;
		}

		p {
			font-size: 16px;	
			text-align: center;
			padding: 0px 10px 0px 10px;
			color: #fff;
			width: auto;
			margin: 0;
		}

		.set-margin	{
			margin-left: 0px;

			@include break(landscape) {
				margin-left: 0px;
			}

			@include break(phone) {
				margin-left: 0px;
				padding: 0;
			}
		}
	}
} 

.breadcrumb-out {
	display: none!important;
}