.body-beneficios-sociales {
	background-color: #ffffff;
	height: auto;
	width: 100%;
	position: relative;

	.beneficios-sociales-text {
		height: auto;
		width: 770px;
		margin: 0 auto;
		position: relative;
		padding: 62px 0px 213px 0px;

		@include break(landscape){
			width: 100%;
		}

		@include break(phone){
			width: 100%;
			padding: 0px 20px 160px 20px;
		}

		@include break(small){
			width: 100%;
			padding: 0px 20px 160px 20px;
		}

		p {
			color: #826252;
			font-size: 18px;	
			letter-spacing: 1px;	
			line-height: 28px;

			@include break(landscape) {
				padding: 0px 40px 0px 40px;
			}

			@include break(phone) {
				font-size: 16px;
				padding: 20px 0px 0px 0px;
			}

			@include break(small) {
				font-size: 16px;
				padding: 20px 0px 0px 0px;
			}
		}
	}
	.content-target {
		background-color: #E9F1EF;
		min-height: 1220px;
		width: 100%;
		position: relative;

		@include break(landscape){
			display: inline-block;
			height: auto;
			padding-bottom: 20px;
		}
	}
	.content-target-el-cobre {
		.target-el-cobre {

			@include break(phone) {
				width: 90%;
    			//margin-left: 5%;
			}
		}
	}
}

.beneficios-sociales-body-text {
	background-color: #fff;
	min-height: 0px;
	width: 100%;

	.content-text {
		font-size: 18px;
		height: auto;
		letter-spacing: 1px;	
		line-height: 24px;
		margin: 0 auto;
		width: 770px;

		@include break(landscape) {
			width: 100%;
    	padding: 0px 40px 0px 40px;
    	font-size: 16px;
		}

		@include break(phone) {
			width: 100%;
    	padding: 0px 20px 0px 20px;
    	font-size: 16px;
		}

		h4 {
			color: #826252;
			font-size: 18px;
			padding: 14px 0px 14px 0px;
		}

		p {
			display: inline-block;
		}
	}
}