.content-videos {
	border: 1px solid #979797;
	background-color: #E9F1EF;
	height: auto;
	width: 100%;

	@include break(landscape) {
		height: auto;
	}

	@include break(phone) {
		height: auto;
	}

  .block-shared {
  	margin-top: 57px;
  }

	.content-videos-body {
		height: auto;
		margin: 0 auto;
		position: relative;
		width: 968px;

		@include break(landscape) {
			width: 100%;
		}

		@include break(phone) {
			width: 100%;
		}


		h2 {
			color: #826252;
			font-size: 20px;
			letter-spacing: 1px;	
			line-height: 24px;
			padding: 20px 0px 0px 0px;
			text-transform: uppercase;

			@include break(landscape) {
				padding: 20px 20px 0px 40px;
			}
			
			@include break(phone) {
				padding: 20px 20px 0px 20px;
			}
		}

		.video {
			background-color: #826252;
			height: 495px;
    	margin-top: 29px;
			width: 968px;
			position: relative;

			@include break(landscape) {
				margin-left: 5%;
				overflow: hidden;
				width: 90%;
			}

			@include break(phone) {
				height: 300px;
    		margin-left: 5%;
				overflow: hidden;
				width: 90%;
			}

			.button-play {
				height: 90px;
		    border: solid 2px #4C5D68;
		    border-radius: 100%;
		    left: 50%;
		    top: 50%;
		    margin-left: -45px;
		    position: absolute;
		    margin-top: -45px;
		    width: 90px;

		    &:hover {
		    	border: solid 2px #ffffff;
			    cursor: pointer;
			    background-color: rgba(255, 255, 255, 0.2);
			    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
		    }    

		    i {
		    	pointer-events: none;
			    color: #fff;
			    font-size: 25px;
    			margin: -4px 0px 0px 3px;
			    padding: 30px;
			    padding: 34px;
		    }
			}

			img {
				filter: opacity(0.4);
			}
		}
		.bockquote-video {
			background-color: #ffffff;
			height: 140px;
    	margin-top: 0px;
			width: 968px;
			position: relative;
			padding-top:20px;

			@include break(landscape) {
				height: auto;
				padding: 20px 20px 20px 20px;
				margin: 0 auto;
				width: 90%;
			}
			
			@include break(phone) {
				height: auto;
				padding: 0px 0px 0px 0px;
    		margin: 0 auto;
				width: 90%;
			}


			blockquote {
				margin-top: 0;
				width: 895px;

				@include break(landscape) {
					margin: 0px;
					width: 100%;
				}

				@include break(phone) {
					margin: 0px;
					width: 100%;
				}
			}
		}
	}
}