
.progress-circle {
	display: flex;
	justify-content: center;
	height: 260px;
	margin: 0 auto;
	position: relative;
	width: 770px;

	@include break(landscape) {
		width: 100%;
	}

	@include break(phone) {
		width: 100%;
	}

	@include break(small) {
		width: 100%;
	}

	.circle {
	  float: left;
	  height: 215px;
	  margin: 0px 55px 0px 55px;
 	  position: relative;
 	  text-align: center;
	  width: 215px;

	  @include break(phone) {
	  	height: 170px;
	  	margin: 0px 0px 0px 0px;
	  	width: 170px;
	  }

	  @include break(small) {
	  	height: 190px;
	  	margin: 0px 0px 0px 0px;
	  	width: 140px;
	  }

	  .precentage_wrapper {

	  	font-family: 'RotisSemiSansStd-Bold';
	  	color: #826252;
	  	font-size: 30px;

	  	.big-percentage {
	  		font-family: 'RotisSemiSansStd-Bold';
		  	color: #826252;
		  	font-size: 50px;

		  	@include break(small) {
		  		font-size: 30px;
		  	}
	  	}

	  	.small-percentage {
	  		font-family: 'RotisSemiSansStd-Bold';
		  	color: #826252;
		  	font-size: 30px;
	  	}
	  }

	  p {
	  	font-family: 'RotisSemiSansStd-Bold';
	  	color: #826252;
	  	font-size: 18px;

	  	@include break(phone){
	  		text-align: center!important;
	  	}

	  	@include break(small){
	  		text-align: center!important;
	  	}
	  }
	}
	.circle-md {
		height: 118px;
		width: 118px;

	 	@include break(phone) {
			height: 100px;
			width: 100px;
	 	}

		@include break(small) {
			height: 100px;
			width: 100px;
		}

		p {
	  	font-family: 'RotisSemiSansStd-Bold';
	  	color: #826252;
	  	font-size: 16px;

	  	@include break(phone) {
				font-size: 12px;
		 	}

			@include break(small) {
				font-size: 12px;
			}
	  }
		
		.precentage_wrapper {

			@include break(phone) {
				top: 47%;
			}

			@include break(small) {
				top: 47%;
			}
		}
	}

	.front {
	  transition: all 0.2s ease;
	  stroke-dashoffset: 300;
	  stroke-dasharray: 300;
	  transform-origin: 50% 50%;
	  background-color: white;
	  transform: rotateZ(270deg);
	}

	.precentage_wrapper {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);

	  @include break(small){
	  	top: 35%;
	  }
	}

	input {
	  border: 0;
	  padding: 2px 3px;
	  font-size: 22px;
	  text-align: center;
	  width: 100px;
	  margin: 0 auto;
	  background: transparent;
	  color: #827717;
	}

	input:hover,input:focus{
	    border: 0px solid;
	}
}
.ca-top {
	height: 180px;
	margin-top: 30px;
	margin-bottom: 20px;
}