.block-info {
	width: 100%;
	min-height: 40px;
	padding: 10px;
	border: 1px solid #d1d5c7;
	margin: 15px 0px;

	.body-text {
		background: #f4f8f7;
	    text-align: center;
	    font-size: 25px;
	    line-height: 30px;
	    padding: 30px 30px;
	    vertical-align: middle;
	    display: table-cell;
	    width: 360px;
	    text-align: center;
	    min-height: 200px;
		
		h3 {
			color: #4c5d67;
    		font-size: 16px;
    		text-transform: uppercase;
    		max-width: 960px;
    		margin: 0 auto 5px;
		    font-size: 18px;
		    font-weight: 400;
    		line-height: 1.2;
		}

	    p {
			font-size: 20px;
    		color: #ba9765;
    		max-width: 960px;
    		margin: 0 auto 10px;
		    font-size: 18px;
		    font-weight: 400;
    		line-height: 1.2;
	    }

	    a {
	    	background-color: transparent;
		    border: 1px solid #a3c3bd;
		    box-shadow: none;
		    color: #4d5d68;
		    cursor: pointer;
		    font-weight: 300;
		    padding: 15px 20px 10px;
		    text-transform: uppercase;
		    width: auto;
		    font-size: 16px;
		    line-height: 16px;
		    letter-spacing: .5px;
		    transition-property: color;
		    transition-duration: 0.3s;
	    }

	    .button {
	    	background-color: transparent;
		    border: 1px solid #a3c3bd;
		    box-shadow: none;
		    color: #4d5d68;
		    cursor: pointer;
		    font-weight: 300;
		    padding: 15px 40px 10px 10px;
		    text-transform: uppercase;
		    width: auto;
		    font-size: 16px;
		    line-height: 16px;
		    letter-spacing: .5px;
		    transition-property: color;
		    transition-duration: 0.3s;
		    position: relative;
		    margin: 0;

		    &:before {
	    	    content: '\f019';
    			position: absolute;
    			top: 12px;
    			right: 10px;
    			font-family: 'fontAwesome';
    			font-size: 20px;
		    }
	    }

	    button {
	    	background-color: transparent;
		    border: 1px solid #a3c3bd;
		    box-shadow: none;
		    color: #4d5d68;
		    cursor: pointer;
		    font-weight: 300;
		    padding: 15px 15px 10px 15px;
		    text-transform: uppercase;
		    width: auto;
		    font-size: 16px;
		    line-height: 16px;
		    letter-spacing: .5px;
		    transition-property: color;
		    transition-duration: 0.3s;
		    position: relative;
	    }
	}
}