.button-generic {
	background-color: transparent;
	border: solid 2px #91B8B1;
  border-radius: 100%;
  color: #fff;
  height: 90px;
  left: 50%;
  margin-left: -45px;
  margin-top: -45px;
  position: absolute;
  top: 50%;
  text-align: center;
  width: 90px;
  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

  &:focus {
  	outline: none;
  }
  

  &:hover {
		background-color: rgba(255,255,255,0.2);
    border: solid 2px #fff;
	  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
  }

  i {
  	font-size: 20px!important;
  	padding: 32px;
  	&:focus {
	  	outline: none;
	  }
  }
}


