.button-resultado {
	position: absolute;
  top: 70%;
  left: 50%;
  margin-left: -70px;
  background-color: transparent;
  color: #fff;

  a {
  	color: #fff;
  }
}

.content-buttons-404 {
  bottom: 20%;
  height: 100px;
  left: 50%;
  margin-left: -305px;
  position: absolute;
  width: 610px;
  display: flex;
  align-items: center;

  .button-volver {
  	background-color:transparent;
		border: 2px solid #91B8B1;
  	color: #fff;
    font-size: 18px;
    line-height: 53px;
    margin: 0px 15px;
    padding: 0px 43px 0px 43px;
  	text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

    &:hover {
    	text-decoration: none;
    	cursor: pointer;
    	background-color: #91B8B1;

    	color: #fff;
    }
  }

  .button-inicio {
  	background-color: transparent;
		border: 2px solid #91B8B1;
  	color: #fff;
    font-size: 18px;
    line-height: 53px;
    margin: 0px 15px;
    padding: 0px 43px 0px 43px;
    text-transform: uppercase;
  	text-decoration: none;
    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

    &:hover {
    	text-decoration: none;
    	cursor: pointer;
    	background-color: #91B8B1;
    	color: #fff;
    }
  }
}