@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  animation-name: pulse;
}

.content-scroll {
	bottom: 20%;
	cursor: pointer;
	color: #fff;
	height: 51px;
	left: 50%;
	margin-left: -34px;
	position: relative;
	text-align: center;
	width: 70px;
	z-index: 2;
	animation: pulse 1s linear 0s infinite;

	@include break(phone) {
		display: none;
	}

	h4 {
		color: #fff;
		font-size: 14px;
		line-height: 18px;
	}

	i {
		font-size: 16px;
		line-height: 16px;
		
	}
}


