.circle {
  position: relative;
  width: 200px;
  height: 200px;
}

.front {
  transition: all 1s ease;
  stroke-dashoffset: 300;
  stroke-dasharray: 300;
  transform-origin: 50% 50%;
  background-color: white;
  transform: rotateZ(270deg);
}

.precentage_wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input {
  border: 0;
  padding: 2px 3px;
  font-size: 22px;
  text-align: center;
  width: 100px;
  margin: 0 auto;
  background: transparent;
  color: #827717;
}

input:hover,input:focus{
    border: 1px solid;
}