.content-contact {

	.bajada-text {
		font-family: 'RotisSemiSansStd-Bold';
    color: #826252;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    padding: 70px 0px 70px 0px;
	}

	.button-contact {
		@include break(phone) {
			padding: 8px 125px 8px 125px;
		}

		@include break(small) {
			padding: 8px 97px 8px 97px;
		}
	}
}

.set-padding {

	@include break(phone) {
		padding: 0px;
	}

	@include break(small) {
		padding: 0px;
	}
}