.body-websites {
	height: auto;
	margin: auto;
	min-height: 200px;
	position: relative;
	text-align: center;
	width: 770px;

	@include break(landscape) {
		width: 100%;
	}

	@include break(phone) {
		width: 100%;
	}

  .set-margin-filter {
  	margin-top: 65px;	

  	@include break(landscape){
  		width: 100%;
  	}

  	@include break(phone){
  		margin-top: 20px;
  		width: 100%;
  	}
  }
}
