.set-target-documento-detalle {
	width: 270px!important;
	margin: 11px;

	@include break(landscape) {
		width: 40% !important;
    margin: 35px;
	}

	@include break(phone) {
		width: 90% !important;
		margin: 0;
		margin-left: 5%;
		margin-bottom: 20px;
	}

	.button-float{
		width: 224px;
	  margin-left: -112px;
	}

	.target-last-news-cuerpo {

		@include break(phone) {
			width: 262px;
		}

		h3 {
			font-size: 18px;
			padding: 0px 20px 0px 20px;

			@include break(phone) {
				padding: 0px 0px 0px 0px;
				font-size: 16px;
			}
		}
	}

	.target-last-news-image {
		img {
			height: 100%;
		}
	}

	.target-last-news-time {
		padding: 0px 20px 0px 20px;

		@include break(phone) {
			padding: 0px 0px 0px 0px;
			font-size: 16px;
		}	
	}

	.target-last-news-text {
		padding: 0px 20px 0px 20px;

		@include break(phone) {
			padding: 0px 0px 0px 0px;
			font-size: 16px;
		}
	}

	.button {
		margin-top: 5px;
    padding: 8px 80px 8px 80px;
    width: 84%;
    margin-left: 8%;

    @include break(landscape) {
    	margin-left: 13%;
    }

    @include break(phone) {
    	padding: 8px 96px 8px 96px;
    	margin-left: 11%;
    }

    @include break(small) {
    	padding: 8px 96px 8px 96px;
    	margin-left: 4%;
    }
	}
}