.documents-menu-interior {
	background-color: #F4F6F6;
  display: flex;
  font-size: 14px;
  height: 55px;
  width: 1170px; 
  margin-top: -27.5px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  @include break(landscape) {
    display: none;
  }

  @include break(phone) {
    display: none;
  }

  .volver {
  	height: 55px;
  	width: 190px;
  	color: #91B8B1;
  	position: relative;
  	text-align: center;
  	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

  	p {
  		line-height: 55px;
      margin-top: 4px;
  	}

  	i {
  		left: 40px;
	    position: absolute;
	    top: 19px;
  	}

  	&:hover {
  		cursor: pointer;
  		color: #fff;
  		background-color: #91B8B1;
  		-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
  	}
  }

  .content-info {
		height: 55px;
		text-align: center;
  	//width: 250px;

		p {
			color: #91B8B1;
			line-height: 55px;
      margin-top: 4px;
		}
  }
}