.documents-interior-body {
	background-color: #fff;
	width: 100%;
	height: auto;
	padding-top: 40px;

	@include break(landscape) {
		display: inline-block;
	}

	@include break(phone) {
		display: inline-block;
	}

	.content-video {
		height: auto;

		@include break(phone) {
			height: 250px !important;
		}

		@include break(small) {
			height: 250px !important;
		}

		.button-generic {
			@include break(phone) {
				top: 50%;
			}

			@include break(small) {
				top: 50%;
			}
		}
	}

	.title {
		margin-top: 72px;
		text-transform: uppercase;

		@include break(landscape){
			text-align: center;
		}

		@include break(phone){
			font-size: 20px;
	    margin-top: 40px;
	    line-height: 31px;
		}
	}

  .line {
  	margin: 40px 0px 40px 0px;

  	@include break(landscape) {
  		margin: 0 auto;
  		margin-top: 20px;
  		margin-bottom: 20px;
  	}
  }

  .imagen {
  	width: 768px;
  	height: 467px;
  	overflow: hidden;
  	position: relative;

  	@include break(landscape) {
  		width: 100%;		
  	}

  	@include break(phone) {
  		height: 300px;
  		width: 100%;		
  	}
  }

  .body-text-documentos {
  	height: auto;
    width: 100%;
    position: relative;

    @include break(landscape) {
    	padding: 0px 20px 0px 20px;
    }

    @include break(phone) {
    	padding: 0px 0px 0px 0px;
    }

    .text-bajada {
    	color: #826252;
	    font-family: 'RotisSemiSansStd-Bold';
	    font-size: 18px;
	    letter-spacing: 1px;
	    line-height: 28px;
	    padding: 41px 0px 28px 0px;
    }

    .text {
    	padding: 0px 0px 12px 0px;
    }
  }

  .imagen-carousel {
  	height: 467px;
  	overflow: hidden;
  	position: relative;
  	width: 768px;

  	@include break(landscape){
			width: 100%;
  	}

  	@include break(phone){
  		height: 270px;
  		width: 100%;	
  	}

  	ul {
  		padding: 0px;

  		li {
	  		list-style: none;
	  	}
  	}  	
  }
  .block-shared {
  	margin-top: 35px;
  }

  .slick-slide {
  	&:focus {
			appareance: none;
  		outline: none;
  	}
  }

  .slider-nav {
  	width: 740px;
  	margin: 0 auto;
  	margin-top: 30px;
		margin-left: 10px;

		@include break(landscape){
			width: 90%;
	    margin: 0 auto;
	    margin-top: 30px;
  	}

  	@include break(phone){
  		width: 80%;	
  		margin: 0 auto;
  		margin-top: 30px; 
  	}


  	.slick-slide {
  		margin: 15px;

  		&:focus {
  			appareance: none;
	  		outline: none;
	  	}
  	}

  	.slick-prev {
  		visibility: visible;
			&:before {
				color: #826252;
				content: "\f053";
				font-family: "fontAwesome"
			}
  	}

  	.slick-next {
			visibility: visible;

			&:before {
				color: #826252;
				content: "\f054";
				font-family: "fontAwesome"
			}
  	}
  }
}

.content-dowloads {
	height: auto;
	margin-top: 220px;
	position: relative;
	width: 344px;
	
	@include break(landscape) {
		width: 100%;
		margin-top: 0px;
	}

	@include break(phone) {
		margin-top: 0px;
	}

	.title {
		font-size: 22px;
		margin: 0px 40px 0px 44px;
		text-transform: uppercase;

		@include break(landscape) {
			text-align: center;
			margin: 0px 0px 20px 0px;
		}

		@include break(phone) {
			margin: 0px 0px 0px 0px;
		}
	}
}
.box-descagables {
	background-color: #F5F0E9;
	height: 213px;
	margin: 30px 0px 7px 44px;
	position: relative;
	width: 344px;

	@include break(landscape) {
		background-color: #F5F0E9;
    height: 210px;
    margin: 10px 10px 10px 10px;
    position: relative;
    width: 348px;
    display: inline-block;
	}

	@include break(phone) {
		margin: 20px 0px 0px 0px!important;
		width: 288px;
	}

	.box-descagables-icon-text {
		color: #826252;
		height: 106px;
		width: 100%;
		position: relative;
		display: flex;
    align-items: center;

    @include break(phone){
			padding-top: 20px;
		}

		i {
			font-size: 36px;
			margin: -15px 30px 0px 34px;

			@include break(phone) {
				margin: -15px 10px 0px 20px;
			}
		}
		@media only screen and (min-device-width : 375px) {
			i {
				margin: -15px 30px 0px 30px;
			}
		}

		p {
			color: #826252;
			font-size: 18px;	
			letter-spacing: 1px;	
			line-height: 28px;
			width: 207px;
		}
	}
	.box-descagables-icon-button {
		color: #826252;
		height: 106px;
		width: 100%;
		position: relative;
		text-align: center;

		@include break(phone){
			padding-top: 20px;
		}

		.button {
			margin: 0px 0px 0px 0px;
			padding: 15px 40px 15px 40px;
			text-decoration: none;

			@include break(landscape) {
				//margin: 10px 0px 0px 40px!important;
				padding: 15px 55px 15px 55px;
			}

			@include break(phone) {
				padding: 15px 25px 15px 25px;
			}

			&:before {

				text-decoration: none;								
			}
		}
		@media only screen and (min-device-width : 375px) {
			.button {
				//margin: 10px 0px 0px 60px!important;
			}
		}
	}
}

@media only screen and (min-device-width : 375px) {
	.box-descagables {
		width: 345px;
	}
}

.set-width-bock {

	@include break(landscape) {
		width: 100%;	
	}

	@include break(phone) {
		padding: 0px 0px 0px 10px;
	}
}