.documents-body {
	width: 1170px;
	margin: 0 auto;
	position: relative;

	@include break(landscape) {
		padding-bottom: 0px;
		width: 100%;
	}

	@include break(phone) {
		padding-bottom: 10px;
		width: 100%;
	}

	.documents-menu {
		background-color: #fff;
		box-shadow: -9px 13px 30px 0 rgba(28,62,111,0.17);
		height: 54px;
		left: 0;
		position: absolute;
		top: -27px;
		width: 1170px;
		display: flex;
		z-index: 1;

		@include break(landscape) {
			position: relative;
			height: auto;
			display: inline-block;
			width: 100%;
			top: 0px;
		}

		@include break(phone) {
			position: relative;
			height: auto;
			display: inline-block;
			width: 100%;
			top: 0px;
		}
		
		.documents-button {
			align-items: center;
			background-color: #fff;
			color: #91B8B1;
			display: flex;
			font-size: 14px;
			height: 54px;
			width: 195px;
			justify-content: center;

			@include break(landscape) {
				height: auto;
			    width: 50%;
			    display: inline-grid;
			    padding: 10px 0px 10px 0px;
			}

			&:hover {
				background-color: #826252;
				color: #fff;
				cursor: pointer;
			}

			p {
				text-transform: uppercase;
				margin: 0;
			}
		}

		.active {
			color: #fff;
			background-color: #826252;
		}
	}

	.documents-head {
		display: flex;
		height: 493px;
		width: 1170px;
		margin: 0 auto;
		position: relative;

		@include break(landscape) {
			display: inline;
			height: auto;
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
		}

		@include break(phone) {
			display: inline;
			height: auto;
	    width: 100%;
	    margin: 0 auto;
	    position: relative;
		}

		.documents-head-image {
			height: 346px;
			overflow: hidden;
			position: relative;
			top: 127px;
			width: 585px;

			@include break(landscape){
				height: 250px;
		    overflow: hidden;
		    position: relative;
		    top: 20px;
		    width: 90%;
		    margin-left: 5%;
			}

			@include break(phone) {
				height: auto;
				float: left;
				top: 20px;
			}

			@include break(small) {
				height: auto;
				float: left;
				top: 20px;
			}

			img {
				height: 100%;

				@include break(landscape) {
					height: auto;
					width: 100%;
				}
			}
		}

		.documents-head-body {
			height: 346px;
			position: relative;
			top: 127px;
			width: 585px;

			@include break(landscape) {
				height: auto;
		    position: relative;
		    top: 0px;
		    width: 90%;
		    margin: 0px 20px 0px 20px;
		    float: left;
			}

			@include break(phone) {
				height: auto;
		    position: relative;
		    top: 0px;
		    width: 88%;
		    margin: 20px 20px 0px 20px;
		    float: left;
			}

			@include break(small) {
				height: auto;
		    position: relative;
		    top: 0px;
		    width: 88%;
		    margin: 20px 20px 0px 20px;
		    float: left;
			}

			.text-826252 {
		    font-family: 'RotisSemiSansStd-Bold';
		    color: #826252;
		    font-size: 16px;
		    letter-spacing: 1px;
		    line-height: 28px;
		    margin: 34px 0px 0px 30px;

		    @include break(landscape) {
		    	margin: 34px 0px 30px 30px;
		    }

		    @include break(phone) {
		    	text-align: justify;
		    	margin: 20px 0px 20px 0px;
		    }
			}

			.title {
				margin: 34px 0px 20px 30px;

				@include break(landscape){
					text-align: center;
					margin: 50px 0px 0px 0px;
				}

				@include break(phone){
					text-align: center;
					margin: 20px 0px 0px 0px;
				}
			}

			.line {
				margin: 34px 0px 0px 30px;

				@include break(landscape) {
					margin: 0 auto;
    			margin-top: 30px;
				}

				@include break(phone){
					margin: 0 auto;
				}
			}
		}
	}

	.documents-filter {
		border-top: solid 1px #91B8B1;
    border-bottom: solid 1px #91B8B1;
		display: flex;
		height: 67px;
		margin-bottom: 35px;
		position: relative;
		width: 100%;

		@include break(landscape) {
			display: none;
		}

		@include break(phone) {
			display: none;
		}

		.title {
			color: #91B8B1;
	    font-family: 'RotisSemiSansStd-Light';
	    font-size: 16px;
	    letter-spacing: 1px;	
	    line-height: 65px;
	    padding: 0px 5px 0px 5px;
		}
		.content-select {
			height: 100%;
			line-height: 65px;
			position: relative;
			width: auto;

			input {
				text-align: left;
				font-size: 14px;
			}

			i {
				color: #826252;
				font-size: 20px;
				pointer-events: none;
				position: absolute;
				right: 30px;
    		top: 22px;
			}
		}

		.button-filter {
			appearance: none;
			border: 0;
    	background-color: #fff;
			color: #826252;
			font-size: 16px;
			height: 63px;
			margin-top: 1px;
			padding: 0px 30px 0px 30px;

			&:focus {
				outline: none;
			}
		}
		select,input {
			appearance: none;
			height: 63px;
			border: 0;
			color: #91B8B1;
			margin: 1px 30px 0px 30px;
    	width: 171px;
			&:focus {
				outline: none;
			}
			&:before {
				content: "s";
			}

			option {
				padding: 10px;
				&:focus {
					outline: none;
				}
			}
		}
	}

	.documents-target {
		min-height: 650px;
		width: 100%;
		position: relative;

		@include break(landscape) {
			min-height: auto;
		}

		.target-last-news {
			width: 360px;
		}
	}
}


.content-target-el-cobre-position {
	position: relative;
}

.set-text-down {
	padding: 60px 0px 180px 0px;

	@include break(phone) {
		padding: 20px 0px 180px 0px;
	}

	@include break(small) {
		padding: 20px 0px 180px 0px;
	}
}