.el-cobre {
	height: auto;
	width: 100%;
	position: relative;

	.el-cobre-target {
		background-color: #E9F1EF;
		min-height: 478px;
		width: 100%;
		position: relative;
		padding-bottom: 20px;
	}
}
.el-cobre-body {
	height: auto;
	width: 770px;
	margin: 0 auto;
	padding: 60px 0px 210px 0px;
	position: relative;

	cite {
		font-family: 'RotisSemiSansStd-Bold';
		color: #826252;
		font-size: 18px;
		letter-spacing: 1px;	
		line-height: 28px;

		@include break(phone) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	@include break(landscape) {
		padding: 40px 0px 170px 0px;
		width: 100%;
	}

	@include break(phone) {
		padding: 20px 0px 160px 0px;
	}

	@include break(small) {
		padding: 20px 0px 160px 0px;
	}

	p {
		font-size: 18px;
		letter-spacing: 1px;	
		line-height: 28px;
		padding: 0px 0px 0px 0px;

		@include break(landscape) {
			padding: 0px 40px 0px 40px;
		}

		@include break(phone) {
			font-size: 16px;
			padding: 0px 20px 0px 20px;
		}

		@include break(small) {
			font-size: 16px;
			padding: 0px 20px 0px 20px;
		}
	}

	cite {
		font-family: 'RotisSemiSansStd-Bold';
		color: #826252;
		font-size: 18px;
		font-style: inherit;
		letter-spacing: 1px;	
		line-height: 28px;

		@include break(phone) {
			font-size: 16px;
			line-height: 24px;
		}

	}
	.text-826252 { 
		
	}
	
	.text-333333 {
		color: #333333;
		font-size: 16px;	
		letter-spacing: 1px;	
		line-height: 24px;
	}
}