.content-list-text {
	height: auto;
	margin: 0 auto;
	width: 770px;

	@include break(landscape) {
		width: 100%;
	}

	ul {
		margin-bottom: 19px;

		li {
			font-family: 'RotisSemiSansStd-Light';
			font-size: 18px;
			list-style: none;
			letter-spacing: 1px;
			line-height: 24px;
			padding: 15px 0px 15px 0px;
			position: relative;

			@include break(landscape) {
				padding: 15px 40px 15px 20px;
			}

			span {
				color: #826252;
				font-family: 'RotisSemiSansStd-Bold';
			}

			&:before {
				color: #826252;
				content: "•";
				font-size: 20px;
				left: -40px;
		    	position: absolute;

			    @include break(landscape) {
			    	left: -5px;
			    }
			}

			a {
				color: #333333 !important;

				&:hover {
					color: #333333 !important;						
				}
			}
		}
	}
}
.set-el-cobre-body-two {
	padding: 60px 0px 0px 0px;

	@include break(landscape) {
		padding: 40px 0px 0px 0px;
	}

	@include break(phone) {
		padding: 20px 0px 0px 0px;
	}

	@include break(small) {
		padding: 20px 0px 0px 0px;
	}
}