.el-cobre-interior-body {
	height: auto;
	width: 100%;
	position: relative;

	@include break(landscape) {
		display: inline-block;
	}

	.el-cobre-interior-body-filter {
		background-color: #fff;
		height: 96px;
		max-width: 1400px;
		box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
		z-index: 6;
		margin: 0 auto;
		display: flex;
    	justify-content: center;
    	margin-top: -45px;

		@include break(landscape) {
			width: 100%;
		    left: 0px;
		    margin-left: 0px;
		    position: relative;
		    top: 0;
		}

		@include break(phone) {
			height: 100%;
		}

		.button-tabs {
			border: 0;
			background-color: #fff;
			font-size: 16px;
			height: 96px;
			line-height: 19px;
			width: auto;
			padding: 0px 40px;
			text-align: center;
			-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
			border-radius: 0px;

			@include break(landscape) {
				width: 33.3%;
			}

			@include break(phone) {
				width: 100%;	
				border-bottom: solid 1px #826252;
			}

			&:focus {
				outline: none;
			}

			&:hover {
				color: #fff;
				background-color: #826252;
				-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
			}

			.button-active {
				background-color: #826252;
			}
		}

		.active {
			color: #fff;
    	background-color: #826252;
		}
	}
}
.el-cobre-interior-content {
		height: 200px;
		width: 969px;
		margin: 0 auto;
		text-align: center;

		@include break(landscape) {
			height: 160px;
			width: 100%;
		}

		@include break(phone) {
			width: 100%;
			height: 130px;
		}

		h1 {
			padding: 80px 0px 0px 0px;
			line-height: 61px;

			@include break(landscape){
				padding: 40px 0px 0px 0px;
			}

			@include break(phone){
				padding: 20px 20px 10px 20px;
    		line-height: 30px;
			}

		} 
		.line {
			margin: 0 auto;
		}
	}
.content-video-interior {
	background-color: #826252;
	height: 496px;
	width: 969px;
	margin: 0 auto;
	position: relative;

	@include break(landscape){
		overflow: hidden;
		width: 100%;
	}

	@include break(phone) {
		height: 250px;
	}

	img {
		filter: opacity(0.7);

		@include break(landscape){
			height: 100%;
		}
	}

	.button-play {
		border: solid 2px #4C5D68;
	    border-radius: 100%;
	    height: 90px;
	    left: 50%;
	    margin-left: -45px;
	    margin-top: -45px;
	    position: absolute;
	    top: 50%;
	    text-align: center;
	    width: 90px;
	    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

    &:hover {
    	border: solid 2px #ffffff;
    	cursor: pointer;
    	background-color: rgba(255,255,255,0.2);
    	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
    }

    i {
	    color: #fff;
	    font-size: 25px;
	    padding: 30px;
	    pointer-events: none;
		}
	}
}

.content-image {
	background-size: cover;
	background-position: center center;
	background-color: #826252;
	height: 496px;
	width: 969px;
	margin: 0 auto;
	position: relative;

	@include break(landscape) {
		overflow: hidden;
		width: 100%;
	}

	@include break(phone) {
		height: 250px;
	}

	img {
		filter: opacity(0.7);
		visibility: hidden;
	}
}

.set-el-cobre-body {
	padding: 60px 0px 60px 0px;
}

blockquote {
	height: 96px;
	border-left: 5px solid #826252;
	color: #826252;
	font-size: 18px;
	letter-spacing: 1px;
	line-height: 28px;
	margin: 0 auto;
	margin-top: 44px;
	margin-bottom: 44px;
	width: 765px;
	display: flex;

	@include break(phone) {
		font-size: 16px;
		height: auto;
		width: 100%;
	}

	p {
		align-items: center;
	    display: flex;
	    padding: 0px 0px 0px 0px!important;
	    font-family: 'RotisSemiSansStd-Bold';
	}
}

.down-blockquote {
	height: auto;
	width: 770px;
	margin: 0 auto;
	margin-bottom: 45px;

	@include break(phone) {
		width: 100%;
	}

	p {
		color: #333333;
		font-size: 18px;
		letter-spacing: 1px;
		line-height: 24px;

		@include break(landscape) {
			padding: 0px 40px 0px 40px;
		}

		@include break(phone) {
			padding: 0px 20px 0px 20px;
		}
	}
}

.block-shared {
	align-items: center;
	border-top: solid 1px #91B8B1;
	border-bottom: solid 1px #91B8B1;
	display: flex;
	height: 71px;
	justify-content: center;
	width: 771px;
	margin: 0 auto;
	margin-bottom: 50px;
	position: relative;
	text-align: center;

	@include break(landscape){
		width: 90%;
	}

	@include break(phone){
		width: 90%;
	}

	p {
		color: #91B8B1;
		font-size: 18px;
		letter-spacing: 1px;
		margin: 25px;
		padding: 0;
	}

	i {
		color: #91B8B1;
		font-size: 20px;	
		line-height: 20px;
		margin: 25px;
	}
}

