.content-target-el-cobre {
	height: auto;
    position: relative;
    width: 1210px;
    margin: 0 auto;
    top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

	@include break(landscape) {
		left: 0px;
		margin-left: 0px;
		margin-top: -154px;
		top: 0px;
		position: relative;
		width: 100%;
	}

	@include break(phone) {
		height: auto;
		margin-bottom: 10px;
	}

	.target-el-cobre {
		box-shadow: 0 16px 30px 0 rgba(28,62,111,0.17);
		float: left;
		height: 580px;
		width: 370px;
		margin: 15px;
		position: relative;
		-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);

		@include break(landscape) {
			width: 45.8%;
		}

		@include break(phone) {
			width: 100%;
			margin: 0;
			height: auto;
			margin-bottom: 20px; 
		}

		&:hover {
			box-shadow: 0 16px 30px 0 rgba(28,62,111,0.47);
			-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);
    }

	.target-el-cobre-image {
	  	background-size: cover;
	  	background-position: center center;
	    height: 250px;
	    width: 100%;
	    overflow: hidden;
	    position: relative;
	    text-align: center;

		    img {
		    	visibility: hidden;
		    	height: 100%;
		    }
		}

		.target-el-cobre-text {
			background-color: #fff;
			min-height: 330px;
		    position: relative;
		    text-align: center;

		    @include break(phone) {
		    	height: auto;
		    	padding-bottom: 10px;
		    }

	    h2 {
				width: 262px;
				font-size: 22px;
				letter-spacing: 1px;
				line-height: 26px;
				text-align: center;
				padding: 36px 0px 36px 0px;
				margin: 0 auto;
			}
			p {
				width: 262px;
				color: #333333;
				font-size: 16px;	
				letter-spacing: 1px;	
				line-height: 24px;
				margin: 0 auto;
				text-align: left;
				padding-bottom: 20px;

				@include break(phone) {
					padding: 0px 20px 20px 20px;
				}
			}

			.button {
				margin: 0px 0px 0px 0px;
				padding: 15px 100px 15px 100px;
				text-decoration: none;
    			width: 70%;

    			@include break(phone) {
    				padding: 15px 80px 15px 80px;
    			}
			}
		}
		@media only screen and (min-device-width : 375px) {
			.target-el-cobre-text {
				padding-bottom: 20px;
			}
		}
	}
}
.button-link {
  border: 2px solid #91B8B1;
  background-color: #FFFFFF;
  color: #4C5D68;
  font-size: 18px;
  margin: 17px 0px 0px 0px;
  padding: 12px 43px 12px 43px;
  text-transform: uppercase;
  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}