.filter-ica-mobile {
  background-color: #91B8B1;
  display: none;
  height: auto;
  position: relative;
  padding: 30px 30px 10px 30px;
  width: 100%;
  display: none;

  @include break(landscape){
		display: block;
  }

  @include break(phone) {
  	display: block;
  }

	.ica-head {	
		height: 100%;
    position: relative;
    padding-bottom: 20px;
    text-align: left;
    width: 100%;

    a {
    	font-family: 'RotisSemiSansStd-Bold';
	    color: #fff;
	    text-decoration: none;

	    &:before {
	    	color: #fff;
		    content: '\f107';
		    font-size: 25px;
		    font-family: 'fontAwesome';
		    position: absolute;
		    right: 0px;
		    top: 3px;
	    }
    }
	}
	.ica-cuerpo {
		height: 100%;
    width: 100%;
    position: relative;
    display: none;

    ul {
    	margin: 0;
    	padding: 0px;
    	text-align: left;

    	li {
    		color: #fff;
		    font-family: 'RotisSemiSansStd-Light';
		    list-style: none;
		    padding: 10px 0px 10px 0px;
		    position: relative;

		    i {
		    	Position: absolute;
    			right: 0px;
    			top: 13px;
    			opacity: 0;
		    }
    	}
    }
	}
	
	@include break(landscape) {
		display: block;
	}

	@include break(phone) {
		display: block;
	}
}