.footer {
	background-color: #4C5D68;
	display: inline-block;
	height: 495px;
	margin-bottom: -5px;
	position: relative;
	width: 100%;

	@include break(landscape) {
		height: auto;
		padding-bottom: 20px;
	}

	.margin-top {
		margin-top: 118px;

		@include break(landscape){
			margin-top: 40px;
		}

		@include break(phone){
			margin-top: 40px;
			margin-bottom: 40px;
		}
	}

	.logo-copper {
		margin: 0px 0px 26px -7px;
		width: 200px;

		@include break(phone) {
			margin: 0px 0px;
			width: 100%;
		}
	}

	ul {
		padding-left: 10px;

		li {
			color: #fff;
			font-family: 'RotisSemiSansStd-Light';
			font-size: 16px;
    		font-weight: bold;
			list-style: none;
			letter-spacing: 1.5px;
			padding-bottom: 26px;

			a {
				color: #fff;
			}
		}
	}

	.content-rrss {
		margin: 34px 0px 0px 0px;
		position: relative;

		@include break(phone) {
			margin: 10px 0px 0px 0px;
		}

		i {
			color: #fff;
			font-size: 20px;
			margin-right: 36px;

			@include break(phone) {
				margin: 11px 8px;
			}
		}
	}

	.international-copper {
		color: #fff;
		margin-top: 31px;

		@include break(landscape) {
			margin-top: 0px;
		}

		@include break(phone) {
			padding-top: 40px;
			padding-left: 10px;
		}

		p {
			font-size: 16px;
			line-height: 19px;

			@include break(phone) {
				text-align: left !important;
			}

			@include break(small) {
				text-align: left !important;
			}
		}

		i {
			color: #91B8B1;
			font-size: 20px;
			margin: 16px 0px 0px -22px;
			width: 100%;

			@include break(landscape) {
				margin: 10px 0px 0px 0px;
			}

			span {
				color: #fff;
				font-size: 16px;
				font-family: 'RotisSemiSansStd-Light';
				margin-left: 10px;
			}

			.set-span {
				margin-left: 18px;
			}
		}
		.texto-icon {
			padding-left: 25px;

			&:before {
				position: absolute;
				left: 23px;

				@include break(landscape) {
					left: 15px;
				}

				@include break(phone) {
					left: 23px;
				}

				@include break(small) {
					left: 23px;
				}
			}
		}

		.texto-icon-1{

			&:before {
				content: "\f095";
				font-family: "fontAwesome";
				font-size: 20px;
				color: #91B8B1;
			}
		}

		.texto-icon-2{

			&:before {
				content: "\f041";
				font-family: "fontAwesome";
				font-size: 20px;
				color: #91B8B1;
			}
		}
	}
}
.copyright {
	bottom: 0px;
	color: #fff; 
	left: 50%;
	font-size: 10px;
	margin-left: -95px;
	position: absolute;
	text-align: center;
	width: 190px;

	@include break(landscape) {
		width: 200px;
		margin: 0 auto;
		left: 0px;
		top: 0px;
		position: relative;
		padding: 20px 0px 0px 0px;
	}

	@include break(phone) {
		width: 50%;
		margin: 0 auto;
		left: 0px;
		top: 0px;
		position: relative;
		padding: 0px 0px 0px 0px;
	}

	@include break(small) {
		width: 50%;
		padding: 0px 0px 0px 0px;
	}

	p {
		font-size: 10px;
		font-family: 'RotisSemiSansStd-Light';

		@include break(landscape){
			font-size: 14px;
		}

		@include break(phone) {
			text-align: center !important;
			font-size: 14px;
			padding: 0;
			margin-top: 30px;
		}

		@include break(small) {
			font-size: 14px;
			padding: 0;
		}
	}
}