form {

	label {
		font-family: 'RotisSemiSansStd-Bold';
		color: #826252;
		font-size: 16px;	
		letter-spacing: 1px;	
		line-height: 24px;
	}

	.form-group {
		height: auto;

		li {
			text-align: right;
			list-style: none;
			.error {
				font-size: 12px;
				color: red;
			}
		}
	}
}

.input-ca {
	color: #4C5D68;
	background-color: #E9F1EF;
	height: 55px;
	border: 0;
	border-radius: 0;
}
.button-contact {
	border: 2px solid #91B8B1;
  background-color: #FFFFFF;
  color: #4C5D68;
  font-size: 18px;
  padding: 8px 43px 8px 43px;
  text-transform: uppercase;
  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	margin: 30px 0px 30px 0px;
	outline: none!important;
  box-shadow: none!important;

  @include break(phone) {
  	padding: 8px 110px 8px 110px;
  }

  @include break(small) {
  	padding: 8px 82px 8px 82px;
  }

  &:hover {
  	color: #fff;
  	background-color: #91B8B1;
  }
}
input, textarea {
	font-family: 'RotisSemiSansStd-Bold';
	outline: none!important;
  box-shadow: none!important;
  resize: none;
	&:focus {
		outline: none!important;
    box-shadow: none!important;
	}
}

textarea {
	height: 153px;

	@include break(landscape) {
		height: 150px!important;
	}

	@include break(phone) {
		height: 150px!important;
	}

	@include break(small) {
		height: 150px!important;
	}
}

.form-errors {
	float: left;
	height: auto;
	border: solid 2px #826252;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	display: none;

	ul {
		margin: 10px;
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
		li {
			list-style: none;

			label {
				margin: 0px;
			}
		}
	}
}

input.error {
    border: solid .1px red !important;
    -webkit-transition: 1.5s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}