/*.headroom--not-top {
	top: -50px!important;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}
#headroom-menu {
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}

.headroom--pinned {
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}
.headroom--top {
	top: 0px!important;
}

.headroom--unpinned {
	top: -192px !important;

	.section-menu-desktop-small {
		opacity: 1;
		visibility: visible;
		-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	}
}

.headroom--pinned {
	top: -192px;

	.section-menu-desktop-small {
		opacity: 0;
		visibility: hidden;
		-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	}
}*/

.section-menu-desktop-small {
	opacity: 0;
	visibility: hidden;
	//-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	transition: all .5s;
}

#headroom-menu {
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 9;
	//-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
	transition: all .5s;
}

.headroom--not-top {
	top: -290px!important;

	.section-menu-desktop-small {
		opacity: 1;
		visibility: visible;
		//-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
		transition: all .5s;
	}

	.content-login {
		display: none!important;
	}
}

.headroom--pinned {
	top: -192px !important;
}

.headroom--top {
	top: 0px !important;
}