.content-menu-desktop {
  height: 50px;
  position: relative;
  width: 100%;
  z-index: 21;
  -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

  @include break(landscape){
  	display: none;
  }

  @include break(phone){
  	display: none;
  }

	#menu-desktop {
		background-color: transparent;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		height: 120px;
		left: 50%;
		margin-left: -585px;
		position: absolute;
		width: 1170px;

		.logo {
			float: left;
			height: 46px;
			margin-top: 31px;
			text-align: center;
			width: 200px;
		}
		ul {
			height: 100%;
			margin: 0;
			position: relative;
		    display: flex;
	    	flex-wrap: wrap;
	    	justify-content: space-between;
	    	align-items: center;

			li {
				align-self: stretch;
				align-items: center;
				display: flex;
				font-family: 'RotisSemiSansStd-Light';
				height: 100%;
				justify-content: center;
		    	position: relative;
				padding-top: 20px;
	    		position: relative;
			    text-align: center;

		    &:before {
			    border-bottom: solid 2px #fff;
			    bottom: -2px;
			    content: " ";
			    height: 1px;
			    left: 0px;
				position: absolute;
				transition: width .3s ease-in;
			    width: 0px;
		    }

		    &:hover:before {
		    	transition: width .3s ease-in;
					width: 100%;
		    }

				a {
					display: inline-block;
					color: #fff;
					vertical-align: middle;
					text-align: left;
					letter-spacing: 1.5px;
					line-height: 17px;
    				font-size: 13px;
    				font-weight: 700;

					&:focus { 
						text-decoration: none;
						outline: none;
					}

					&:hover {
						text-decoration: none;
						color: #fff;
					}
				}

				.btn-contacto {
					border: solid 1px #91B8B1;
					line-height: 43px;
					height: 43px;
					padding: 0px 28px 0px 28px;
					-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);

					&:hover {
						background-color: #91B8B1;
						color: #fff;
						-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);
					}

					a { 
						text-decoration: none;
					}
				}
			}

			li:last-child {
				&:before {
					width: 0px!important;
				}
			}

			.current-item {
				&:before {
					border-bottom: solid 2px #fff;
			    bottom: -2px;
			    content: " ";
			    height: 1px;
			    left: 0px;
					position: absolute;
			    width: 100%!important;
				}
			}

		}
	}
}

.current-menu-item{
	border-bottom: solid 2px #fff;
	bottom: -2px;
	content: " ";
	height: 1px;
	left: 0px;
	position: absolute;
}
.set-li-margin-zero {
	width: 0px!important;

	&:before {
		width: 0px!important;
	}
}

.section-menu-desktop {
	background: linear-gradient(180deg, #2E373D 0%, rgba(76,93,104,0) 100%);
	width: 100%;
	height: 142px;
	position: relative;
}

.animate-on {
	-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);
}

.up-menu-desktop {
	top: 0;
}

