.social-benefits {
	background-color: #fff;
	height: auto;
	padding-bottom: 20px;
	width: 100%;
	position: relative;
	text-align: center;

	@include break(landscape) {
		height: auto;
		padding-bottom: 20px;
	}

	@include break(phone) {
		padding-bottom: 0px;
	}

	.body-social-benefits {
		color: #FFFFFF;
		height: auto;
		left: 50%;
		top: 0px;
		position: relative;
		width: 556px;
		margin-left: -269px;
		text-align: center;

		@include break(landscape){
			margin-left: 0px;
			left: 0px;
			margin: 0 auto;
		}

		@include break(phone){
			width: 100%;
		}

		@include break(small) {
			width: 100%;
			padding: 0px 20px;
		}

		.title {
			font-size: 32px;	
			letter-spacing: 1px;	
			line-height: 38px;
			padding-top: 68px;

			@include break(phone) {
				font-size: 26px;
    		letter-spacing: 1px;
    		line-height: 38px;
    		padding-top: 20px;
			}
		}

		.line {
			margin: 0 auto;
		  height: 1px;
  	  width: 70px;
	    border: 1px solid #91B8B1;
			margin-bottom: 35px;
      margin-top: 35px;
		}

		.text {
			color: #333333;
			font-size: 16px;	
			letter-spacing: 1px;	
			line-height: 24px;	
			text-align: center;
			padding: 0px 0px 0px 0px;

			@include break(phone) {
				padding: 0px 20px 0px 20px;
			}
		}

		.button {
			margin: 41px 0px 0px 0px;
		}
	}
}