.applications {
	background-color: #E9F1EF;
	height: 880px;
	width: 100%;
	position: relative;
	text-align: center;

	@include break(landscape) {
		height: auto;
		padding-bottom: 50px;
	}
	
	h2 {
		font-size: 32px;
		letter-spacing: 1px;
		line-height: 38px;
		padding-top: 68px;
		margin: 0;
	}
	.line {
		margin: 0 auto;
		margin-bottom: 35px;
    	margin-top: 35px;
	}
	p {
		font-size: 16px;
		letter-spacing: 1px;
		line-height: 24px;
		text-align: center;
		padding: 0px 0px 0px 0px;
		width: 555px;
		margin: 0 auto;

		@include break(landscape){
			width: 100%;	
			padding: 0px 20px 0px 20px;		
		}

		@include break(phone){
			width: 100%;
			padding: 0px 20px;
		}

	}
	.applications-content-circle {
		height: auto;
		width: 1150px;
		margin: 0 auto;
		margin-top: 57px;
		display: flex;
    	flex-wrap: wrap;
    	justify-content: center;

    @include break(landscape) {
			width: 100%;
    }

		.circle {
    		align-items: center;
			border-radius: 100%;
			background-color: #333333;
			display: flex;
			height: 200px;
			justify-content: center;
    		margin: 0 auto;
			margin: 15px;
			overflow: hidden;
			position: relative;
			width: 200px;		
    		-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

    		img {
    			display: none;
    		}

	    	@include break(landscape) {
	    		margin: 28px;
	    	}

	    	@include break (phone){
				width: 140px;
		    	height: 140px;
			}

	    	@include break (small){
				//margin: 18px;
			    width: 200px;
			    height: 200px;
	    	}

    		h3 {
				color: #FFFFFF;		
				font-size: 20px;	
				letter-spacing: 1px;	
				line-height: 24px;	
				text-align: center;
				margin: 0;
				z-index: 5;

				@include break(phone) {
    			font-size: 14px;
					padding: 0px 10px;
				}
			}

			.filter-color {
				background-color: #333333;
				height: 100%;
				left: 0px;
				position: absolute;
				top: 0px;
				width: 100%;
				filter: opacity(0.5);
				z-index: 1;
			}

			&:hover {
				box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.4);
				-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
			}
		}
	}
}

.off-select {
	margin-top: -7px;
	text-decoration: none;
	color: #fff;

	&:hover {
		text-decoration: none;
		color: #fff;
	}
}