.content-slider {
	height: 940px;
	background-color: #4C5D68;
	overflow: hidden;
	position: relative;
	width: 100%;
	width: 100%;

	@include break(phone) {
		height: 600px;
	}

	.slider-home {
		height: 100%;
		position: relative;
		width: 100%;

		@include break(phone){
			padding-bottom: 0px !important;
		}

		@include break(small){
			padding-bottom: 0px !important;
		}

		.slider-home-image {
			background-size: cover;
			height: 100%;
			width: 100%;
			filter: opacity(0.5);
		}

		.slick-dots {
			height: auto;
    		background-color: transparent;
				
			@include break(phone) {
    			bottom: 20px;
    		}	

    		@include break(small) {
				bottom: 10px;
    		}

    		.slick-active {
    			button {

    				&:before {
    					color: #91B8B1;	
    				}
    			}
    		}
		}
	}

	ul {
		background-color: #4C5D68;
		height: 100%;
		padding: 0px;
		width: 100%;

		.back-color {
			background-color: #4C5D68;
			height: 100%;
			position: relative;
			width: 100%;

			.body-slider {
				height: 365px;
				left: 125px;
				position: absolute;
				top: 300px;
				width: 747px;
				z-index: 2;

				@include break(landscape) {
					left: 0px;
					top: 157px;
					width: 677px;
				}

				@include break(phone) {
					left: 0;
					margin-left: 0;
					top: 90px;
					width: 100%;
				}

				.line {
					border: 1px solid #fff;
					margin: 27px 33px 0px 0px;

					@include break(phone) {
						margin: 27px 33px 0px 30px;
					}
				}

				.title {
					color: #fff;
					font-size: 53px;	
					letter-spacing: 2px;	
					line-height: 55px;
					padding: 0px 0px 0px 104px;

					@include break(phone) {
						font-size: 30px;
						padding: 30px;
						text-align: center;
						padding-top: 0;
						line-height: 34px;
    				text-align: left;
					}
				}

				 p {
				 	color: #fff;
					font-size: 18px;
					font-weight: 900;
					letter-spacing: 1px;	
					line-height: 28px;
					padding: 16px 0px 20px 104px;

					@include break(phone) {
						padding: 30px;
    				padding-top: 0px;
					}
				}
				.button {
					color: #fff;
					background-color: transparent;
					margin: 56px 0px 0px 104px;
					padding: 20px 43px 14px 43px;
					//height: 54px!important;
					//line-height: 54px;
					text-decoration: none;
					-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

					@include break(phone) {
						margin: 0 auto;
						margin-left: 30%;
					}

					&:hover {
				    color: #fff;
						background-color: #91B8B1;
						-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
					}
				}

				.flex {
					display: flex;

					@include break(phone) {
						display: none;
						//visibility: hidden;
						justify-items: center;
    				justify-content: end;
					}
				}

				span {
					color: #FFFFFF;
					font-size: 20px;
					line-height: 55px;
				}
			}
		}
	}
}

.content-slider-separator {
	height: 137px;
	width: 100%;
	position: relative;

	.box-color {
		float: left;
		height: 100%;
		width: 25%;
	}
	.box-color-1 {
	background-color: #4C5D68;
	}
	.box-color-2 {
	background-color: #91B8B1;
	}
	.box-color-3 {
	background-color: #826252;
	}
	.box-color-4 {
	background-color: #BB9861;
	}
}
.slick-track, .slick-list {
	height: 100%;
}