.last-news {
	background-color: #fff;
	height: 1000px;
	width: 100%;
	position: relative;
	text-align: center;

	@include break(landscape) {
		height: 100%;
		padding-bottom: 70px;
	}
	
	@include break(phone) {
		height: 100%;
		padding-bottom: 0px;
	}

	h2 {
		font-size: 32px;	
		letter-spacing: 1px;	
		line-height: 38px;
		padding-top: 68px;

		@include break(phone) {
			padding-top: 38px;
		}
	}

	.button {
		padding: 17px 20px 10px 20px;
		margin: 0;
	}

	.line {
		margin: 0 auto;
	    height: 1px;
		width: 70px;
    	border: 1px solid #91B8B1;
		margin-bottom: 35px;
    	margin-top: 35px;
	}
	
	.content-last-news {
		min-height: 630px;
		width: 1200px;
		margin: 0 auto;
		position: relative;

		@include break(landscape) {
			width: 100%;
		}
	}
}
.target-last-news {
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
	float: left;
	width: 370px;
	margin: 15px;
	position: relative;
	height: auto;
	padding-bottom: 20px;

	@include break(landscape) { 
		width: 46%;
	}

	@include break(phone) {
		width: 91%!important;
	}

	.target-last-news-image {
		height: 250px;
		width: 100%;
		overflow: hidden;
		position: relative;

		img {
			height: 100%;
		}
	}

	.target-last-news-cuerpo {
    	width: 262px;
    	margin: 0 auto;
		position: relative;
  		text-align: left;


		h3 {
			color: #91B8B1;
			font-size: 22px;	
			letter-spacing: 1px;	
			line-height: 26px;
			margin: 0 auto;
			margin-top: 35px;
			width: auto;

		}
	}

	.target-last-news-time {
		margin: 0 auto;
		width: 262px;
		margin-top: 14px;
		text-align: left;

		i {
			color: #826252;
			font-size: 12px;	
			line-height: 24px;

			span {
				color: #826252;
				font-size: 14px;
				margin-left: 10px;
			}
		}
	}

	.target-last-news-text {
		margin: 0 auto;
		width: 262px;
		margin-top: 14px;
		text-align: left;
		
		p {
			font-size: 16px;	
			letter-spacing: 1px;	
			line-height: 24px;
		}
	}

	.button-float {
		background-color: #826252;
    height: 40px;
    width: 260px;
    position: absolute;
    top: 230px;
    left: 50%;
    margin-left: -130px;

    p {
    	font-size: 12px;
    	color: #fff;
    	line-height: 40px;
    	text-align: center;

    	@include break(phone) {
		  	text-align: center!important;
		  }
    }
	}

	.button {
		margin: 17px 0px 0px 0px;
    padding: 15px 97px 15px 97px;
    text-decoration: none;

    @include break(landscape) {
    	//margin: 17px 0px 0px 45px;
    }

    @include break(phone) {
    	margin: 0px 0px;
    }
	}
}

.button-news {
	margin: 48px 0px 0px 0px;

	@include break(landscape) {
		display: none;
		margin: 40px 0px 100px 0px;
	}
}