.content-target-benefits {
	height: auto;
	width: 1134px;
	margin: 0 auto;
	margin-top: 42px;
	position: relative;

	.slick-prev {
		&:before {
			content: '\f104';
			font-family: 'fontAwesome';
			font-size: 30px;
			color: #826252;
		}

		@include break(landscape) {
			left: 0;
		}
	}

	.slick-next {
		&:before {
			content: '\f105';
			font-family: 'fontAwesome'; 
			font-size: 30px;
			color: #826252;
		}

		@include break(landscape) {
			right: 0;
		}
	}

	.slick-dots {
		bottom: 0px;
	}

	@include break(landscape) {
		overflow: hidden;
		width: 100%;
	}

	@include break(phone) {
		overflow: hidden;
		min-height: 390px;
		width: 100%;
	}

	.slick-dotted.slick-slider {
		@include break(phone) {
			padding-bottom: 50px;
    	margin-bottom: 0;
		}
	}

	@include break(phone) {
		.slick-dots {
			bottom: -5px;
		}
	}

	.target{
		float: left;
		height: auto;
		width: 262px;
		position: relative;
		margin: 0px 58px 0px 58px;

		@include break(phone) {
			width: 29%;
	    position: relative;
	    margin: 0px 20px 0px 20px;
		}

		.icon {
			border-radius: 100%;
			height: 70px;
			width: 70px;
			margin: 0 auto;

			img {
				padding-top: 5px;
			}

			i {
				color: #826252;
				font-size: 70px;
			}
		}

		h3 {
			color: #91B8B1;
			font-size: 22px;	
			letter-spacing: 1px;	
			line-height: 33px;
    		margin-top: 34px;
			text-align: center;
		}

		.text { 
			padding: 0px 0px 34px 0px;
		}

		.button {
    	height: 53px;
			line-height: 53px;
			margin: 17px 0px 0px 0px;
			padding: 15px 43px;
			text-decoration: none;
			width: 262px;
		}
	}
}