.content-video {
	background-size: cover;
	background-position: center center;
	background-color: #2A130A;
	height: 748px;
	overflow: hidden;
	width: 100%; 
	position: relative;

	.trama {
		position: absolute;
		top: 0; 
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(180deg, rgba(0,0,0,0) 0%, #000000 200%);
	}

	img {
		visibility: hidden;
	}
	
	@include break(landscape){
		display: flex;
	}
	img {
		width: 100%;
		filter: opacity(.5);
	}

	.body-video {
		color: #FFFFFF;
		height: 100%;
		left: 50%;
		top: 0px;
		position: absolute;
		width: 538px;
		margin-left: -269px;
		text-align: center;
		z-index: 2;

		@include break(phone) {
			margin-left: 0px;
	    	left: 0px;
	    	width: 100%;
		}

		.title {
			color: #fff;
			font-size: 32px;	
			letter-spacing: 1px;	
			line-height: 38px;
			padding-top: 68px;
		}
		.line {
			margin: 0 auto;
			margin-bottom: 35px;
     		margin-top: 35px;
		}
		.text {
			font-size: 16px;	
			letter-spacing: 1px;	
			line-height: 24px;	
			text-align: center;
			padding: 0px 0px 0px 0px;

			@include break(phone) {
				width: 90%;
	    		margin: 0 auto;
	    		margin-bottom: 10px;
			}
		}
		.button-generic {

			@include break(phone) {
				top: 60%;
			}
		}
		a {
		    background-color: transparent;
		    bottom: 84px;
		    color: #fff;
		    font-size: 18px;
	    	height: 53px;
		    left: 50%;
	  		line-height: 54px;
		    margin-left: -80px;
	  		padding: 0px 43px 0px 43px;
		    position: absolute;


	    &:hover {
				color: #fff;
				background-color: #91B8B1;
				text-decoration: none;
				-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
			}
		}
	}
}