#loading{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #4C5D68;
  z-index: 999999; 

  img {
    width: 232px;
    height: 122px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }

  .svg-load {
    width: 50px;
    height: 50px;
    top: 50%; 
    margin-top: 50px;
  }
}

.loader-icon{
  height: 40px;
  left: 50%;
  margin-left: 120px;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  width: 25px;
}

/*
  Set the color of the icon
*/
svg path,
svg rect{
  fill: #fff;
}