/*Media Query*/
@mixin break($name) {
  @if $name == small {
    @media (max-width: 320px) {
      @content;
    }
  } @else if $name == phone {
    @media (max-width: 599px) {
      @content;
    }
  } @else if $name == portrait {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $name == landscape {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $name == desktop {
    @media (max-width: 1200px) {
      @content;
    }
  } @else if $name == huge {
    @media (max-width: 1440px) {
      @content; 
    } 
  } 
}  