.menu-mobile {
	background: linear-gradient(180deg, #2E373D 0%, rgba(76, 93, 104, 0) 100%);
	height: 70px;
	position: absolute;
	top: 0px;
	left: -1px;
	width: 100%;
	display: none;
	border-left: solid 1px #826252;
	z-index: 1;

	.content-logo {
		height: 60px;
		position: relative;
		width: 160px;

		img {
			margin: 10px;
		}
	}

	@include break(landscape){
		display: block;
	}
	
	@include break(phone){
		display: block;
	}
}

$hamburger-padding-x                       : 3px;
$hamburger-padding-y                       : 6px;
$hamburger-layer-width                     : 32px;
$hamburger-layer-height                    : 2px;
$hamburger-layer-spacing                   : 6px;
$hamburger-layer-color                     : #fff;
$hamburger-layer-border-radius             : 4px;
$hamburger-hover-opacity                   : 0.7;
$hamburger-hover-transition-duration       : 0.15s;
$hamburger-hover-transition-timing-function: linear;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter    : opacity(50%);

// Hamburgers
@import 'node_modules/hamburgers/_sass/hamburgers/hamburgers';

#blur {

}
.is-active-blur {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
  overflow: hidden;
  opacity: 0.7;
  z-index: 1119;
  transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}

#pack-menu { 
	display: none;
	@include break(landscape){
		display: block;
	}
	@include break(phone){
		display: block;
	}
}

.animate-on {
  -webkit-transition: 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#content-button {
	display: none;
  position: fixed;
  right: 11px;
  top: 10px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #4C5D68;
  z-index: 1121;
  transition: .3s;
	
	@include break(landscape) {
		display: block;
	}
	
	@include break(phone){
		display: block;
	}

}

.hiddenMenuMobile {
  top: -70px!important;
}

.open {
	@include break(landscape) {
		width: 375px !important;
	}
	@include break(phone) {
		width: 267px!important;
	}
	@include break(small) {
		width: 263px !important;
	}
}
.desplaza-btn {
	right: 68% !important;

	@include break(landscape) {
		right: 49% !important;
	}

	@include break(phone) {
		right: 71% !important;
	}

	@include break(small) {
		right: 82% !important;
	}
}

.hamburger:focus {
	outline: -webkit-focus-ring-color auto 0px!important;
}

#menu-mobile {
	border-left: solid 1px #826252;
  background-color: #fff;
  height: 100%;
  overflow: scroll;
	position: fixed;
  right: 0;
  top: 0;
  width: 0%;
  z-index: 1120;

  .content-logo {
  	background-color: #fff;
  	height: 70px;
  	position: relative;
  	text-align: left;
  	width: 100%;

  	.button-search {
  		background-color: #E9F1EF;
  		height: 50px;
  		position: absolute;
  		top: 10px; 
  		right: 10px;
  		width: 47px;

			i {
				color: #91B8B1;
				font-size: 25px;
    		padding: 12px;
			}

  	}

  	img {
  		width: 170px;
    	padding-top: 10px;
    	margin-left: 10px;
  	}
  }
}

.content-menu {
	ul {
		padding: 0px;
		margin-top: 20px;

		a {
			color: #636b6f;

			&:hover {
				color: #636b6f;
			}
		}

		li {
			font-family: 'RotisSemiSansStd-Bold';
			list-style: none;
			padding: 10px 20px 10px 20px;
		}
	}

	.separator {
    background-color: #E5E6E6;
    border: 0;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 20px;
		width: 90%;
	}

	.separator-top {
		margin-top: 20px;
	}

	.content-button {
		width: 90%;
		height: 40px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: #B9BABB;
    display: flex;
    justify-content: center;

    &:hover {
    	background-color: #91B8B1;
    	color: #fff;

    	a {
    		color: #fff;
    		text-decoration: none;
    	}

    	img {
    		filter: contrast(2000%);
    	}
    }

    img {
    	margin-right: 10px;
    }

    .button-caws {
	    border: solid 0px #B9BABB;
	    letter-spacing: 1.5px;
	    line-height: 40px;
		}

		.button-miembros {
	    border: solid 0px #B9BABB;
	    letter-spacing: 1.5px;
	    line-height: 40px;
		}
	}
	.content-button-caws {
		width: 90%;
	}
}

.search-mobile {
	width: 100%;
	height: 70px;
	background-color: #fff;
	position: absolute;
	z-index: 9;
	display: none;
	opacity: 0;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

	form {
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    margin: 0 auto;
    width: 90%;

		input {
			background-color: #E9F1EF;
	    border: 0;
	    height: 50px;
	    width: 75%;
	    appareance: none;
	    outline: none;
	    padding: 0px 20px;
	    color: #636b6f;
	    text-align: left;
	    font-size: 14px;
		}

		button {
	    align-items: center;
	    background-color: #8B572A;
	    border: 0;
	    height: 50px;
	    width: 50px;
	    display: flex;
	    justify-content: center;

	    i {
	    	color: #fff;
		    font-size: 18px;
		    text-align: center;
	    }
		}
	}
}

.search-mobile-on {
	display: block;
	opacity: 1;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}

.login-on {
	display: block;
}