.section-menu-desktop-small {
	background-color: #fff;
	width: 100%;
	height: 93px;
	box-shadow: 0 0px 30px 0 rgba(28, 62, 111, 0.17);
	visibility: hidden;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

	.current-menu-item {
		height: initial;
	}

	.current-item {
		&:before {
			border-bottom: solid 2px #826252;
		    bottom: -2px;
		    content: " ";
		    height: 100%;
		    left: 0px;
		    position: absolute;
		    transition: width .3s ease-in-out;
		    width: 0px;
		}
	}

	.logo {
		height: 93px;
		width: 200px;
		position: relative;
		float: left;
		
		img {
			padding: 15px 0px 0px 0px;
		}
	}

	ul {
		height: 100%;
		margin: 0;
		position: relative;
	    display: flex;
	  	flex-wrap: wrap;
	  	justify-content: space-between;
	  	align-items: center;

		li {
			align-self: stretch;
			align-items: center;
			display: flex;
			font-family: 'RotisSemiSansStd-Light';
			justify-content: center;
	    	position: relative;
			padding-top: 30px;
			padding-bottom: 18px;
	  		position: relative;
		    text-align: center;

			&:before {
				border-bottom: solid 2px #826252;
			    bottom: -2px;
			    content: " ";
			    height: 100%;
			    left: 0px;
			    position: absolute;
			    transition: width .3s ease-in-out;
			    width: 0px;
			}

			&:hover:before {
	    		transition: width .3s ease-in-out;
				width: 100%;
	   		}

			a {
				color: #4c5d68;
				font-size: 13px;
				letter-spacing: 1.5px;
				text-decoration: none;
				z-index: 2;
			}
		}

		li:last-child {
			&:before {
				width: 0px!important;
			}

			a {
				border: solid 1px #91B8B1;
		    line-height: 43px;
		    height: 43px;
		    padding: 0px 28px 0px 28px;
		    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

		    &:hover {
			    background-color: #91B8B1;
			    color: #fff;
			    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
		    }
			}
		}

		.current-item {
			border-bottom: solid 2px #826252;
		}
	}
}