.content-miembros-filter {
	background-color: #fff;
	width: 100%;
	height: 270px;
	position: relative;

	@include break(landscape) {
		height: 165px;
	}

	.documents-filter {
		margin-bottom: 0px; 
	}
}

.content-miembros-asociado-body {
	background-color: #E9F1EF;
	display: inline-block;
	height: auto;
	position: relative;
	width: 100%;

	.target-documento-detalle {
		background-color: #fff;
		box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.15);
    display: inline-block;
    min-height: 363px;
		width: 270px;
		margin: 11px;
		position: relative;

		@include break(landscape) {
			min-height: 345px;
			width: 47%;
		}

		@include break(phone) {
			width: 93%;
		}

		.detalle-imagen {
			background-color: #826252;
			height: 183px;
			overflow: hidden;
			position: relative;
			width: 100%;

			img {
				height: 110%;
				filter: opacity(0.6);
			}
		}

		.detalle-text {
			align-items: center;
			display: flex;
			height: 75px;
			justify-content: space-around;
			margin-top: 8px;
			overflow: hidden;
			width: 100%;

			@include break(landscape) {
				height: 75px;
			}

			@include break(phone) {
				height: 75px;
			}

			@include break(small) {
				height: 75px;
			}

			i {
				color: #826252;
				font-size: 36px;
				margin: 0px 0px 0px 12px;

				@include break(landscape) {
					margin: 0px 0px 0px 25px;
				}
			}

			.title {
				font-size: 14px;
				line-height: 19px;
				width: 180px;

				@include break(landscape) {
					width: 270px;
				}

				@include break(small) {
					width: 200px;
				}
			}
		}
		
		.detalle-button {
			.button {
				color: #4C5D68;
				margin: 10px 0px 0px 0px; 
		    margin-left: 9%;
		    position: relative;
		    padding: 8px 72px 8px 50px;
		    width: 82%;

		    @include break(landscape){
					padding: 8px 100px 8px 90px;
		    }

		    @include break(small) {
					padding: 8px 80px 8px 70px;
		    }

		    &:hover {
		    	color: #fff;
		    	text-decoration: none;
		    }

		    &:before {
		    	content: "\f019";
			    font-size: 20px;
			    font-family: "fontAwesome";
			    right: 32px;
			    position: absolute;
			    top: -7px;
		    }
			}
		}
	}
}
.set-content-miembros-top {
	margin-top: -160px;

	@include break(landscape) {
		padding-bottom: 0px;
	}
}