.content-miembro-video {
	.button-play {
    border: 2px solid #91B8B1;
    border-radius: 100%;
    height: 90px;
    left: 50%;
    margin-left: -45px;
    margin-top: -45px;
    position: absolute;
    top: 50%;
    width: 90px;

    &:hover {
    	border: solid 2px #ffffff;
	    cursor: pointer;
	    background-color: rgba(255, 255, 255, 0.2);
	    -webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);
    }

    i {
    	color: #fff;
    	font-size: 20px;    
    	margin: 5px 0px 0px 7px;
    	pointer-events: none;
	    padding: 30px;
    }
	}
}

.target-video {
    min-height: 340px!important;
}