.content-miembros {

	.documents-filter {
		border-top: solid 0px #91B8B1;
	} 
}

.top-50{
	height: 50px;
}

.content-miembros-body {
	height: auto;
	width: 100%;
	position: relative;

	.target-last-news {
		width: 262px;

		@include break(landscape) {
			width: 350px;
		}

		.button {
			margin: 10px 0px 0px 20px;
	    padding: 8px 75px 8px 75px;

	    @include break(landscape) {
	    	margin: 10px 20px 0px 20px;
	    }

	    @include break(phone) {
	    	padding: 10px 116px 10px 116px;
	    	margin: 0px 0px 0px 20px;
	    }
		}

		.button-float {
			width: 222px;
			margin-left: -111px;
		}
		.button {

			@include break(landscape) {
				padding: 10px 124px 10px 124px;
    		margin: 0px 0px 0px 15px;
			}

			@include break(phone) {
				padding: 10px 120px 10px 120px;
    		margin: 0px 0px 0px 15px;
			}

			@include break(small) {
				padding: 10px 95px 10px 95px;
    		margin: 0px 0px 0px 15px;
			}
		}
	}

	.target-last-news-cuerpo {
		width: 212px;

		@include break(landscape) {
			width: 310px;
		}

		@include break(phone) {
			width: 310px;
		}

		@include break(small) {
			width: 260px;
		}

		h3 {
			font-size: 18px;

			@include break(landscape) {
				width: 100%;
			}

			@include break(phone) {
				padding: 0;
		    margin: 40px 0px 0px 0px;
		    width: 100%;
			}
		}
	}

	.target-last-news-time {
		width: 212px;

		@include break(landscape) {
			width: 310px;
		}

		@include break(phone) {
			width: 310px;
		}

		@include break(small) {
			width: 260px;
		}
	}

	.target-last-news-text {
		width: 212px;

		@include break(landscape) {
			width: 310px;
		}

		@include break(phone) {
			width: 310px;
		}

		@include break(small) {
			width: 260px;
		}
	}
}

.set-title-and-text {

	@include break(landscape){
		margin-top: -30px;
	}
	@include break(phone){
		margin-top: -60px;
	}
	@include break(small){
		font-size: 35px!important;
		margin-top: -60px;
	}
}