.ui-datepicker {
  font-family: 'Montserrat', sans-serif;
	background-color: #fff;
	color: #000;
  top: 440.667px;
  left: 148px;
  position: relative;
  white-space: nowrap;
  width: 203px;
  overflow: hidden;
  text-align: center;
  border: 1px solid #826252;
  padding: 0px 10px 10px 10px;
  top: 460px;
  left: 319px;
  z-index: 0;
  padding: 1px;
  display: none;
}

.ui-datepicker-title {
	vertical-align: middle;
  display: inline-block;
  text-align: center;
  padding: 10px;
}

.ui-datepicker-prev {
  position: absolute;
  left: 0;
  color: #000;
	
	span {
		display: none;
	}

  &:before {
    color: #826252;
    content: "\f060";
    font-family: FontAwesome;
    left: 10px;
    position: absolute;
    top: 10px;
  }
}

.ui-datepicker-next {
  position: absolute;
  right: 0;
  color: #000;

  span {
		display: none;
	}
	
  &:before {
    color: #826252;
    content: "\f061";
    font-family: FontAwesome;
    right: 10px;
    position: absolute;
    top: 10px;
  }
}

.filtro-botoneras .content-noticias {
	background-color: red;
}

.ui-state-default {
	color: #826252;
}

.ui-datepicker-calendar {
	width: 100%;

  td {
    padding: 10px 15px!important;
    text-transform: uppercase;
    border: 1px solid #ebe5df;
    cursor: pointer!important;

    &:hover {
      background-color: #f0f0f0;
    }

    a {
    
      &:hover {
        color: #91B8B1;
        text-decoration: none;
      }
    }
  }
}


.ui-datepicker-year {
  color: #826252;
  border: 0;
  &:focus {
    outline: none;
    appareance: none;
  }
}

.ui-monthpicker-div {
  padding: 0;
}

.ui-datepicker-unselectable, .ui-datepicker-days-cell-over {
  padding: 10px 15px!important;
  text-transform: uppercase;
  border: 1px solid #ebe5df;
  cursor: pointer!important;

  &:hover {
    background-color: #f0f0f0;
  }
}