.newsletter {
	box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.1);
	display: flex;
	background-color: #fff;
	bottom: 0px;
	left: 50%;
	height: 139px;
	margin-bottom: -69px;
	margin-left: -424px;
	position: absolute;
	width: 848px;
	z-index: 1;

	@include break(landscape) {
		left: 0px;
		position: relative;
		margin-left: 0px;
		top: 0px;
		width: 100%;
	}

	@include break(phone) {
		display: grid;
		height: auto;
		margin: 0;
		position: relative;
		width: 100%;
	}

	.content-text {
		height: 139px;
		width: 50%;
		display: inline-block;

		@include break(landscape) {
			width: 50%;
		}

		@include break(phone) {
			height: 30px;
			width: 100%;
		}

		@include break(small) {
			height: 50px;
			width: 100%;
		}

		p {
			color: #91B8B1;
			font-family: 'RotisSemiSansStd-Bold';
			font-size: 20px;	
			letter-spacing: 1px;
			line-height: 139px;

			@include break(landscape) {
				font-size: 18px;
			}

			@include break(phone) {
				padding-top: 10px;
			    font-size: 18px;
			    line-height: 20px;
			    text-align: center !important;
			    padding: 20px 10px 10px 10px;
			}
		}
	}

	.content-search {
		align-items: center;
		display: flex;
		justify-content: center;
		height: 139px;

		@include break(phone) {
			height: 100px;
			width: 90%;
   		margin: 0 auto;
		}

		.search-email {
			border: 0;
	    background-color: #E9F1EF;
	    height: 55px;
	    padding-left: 22px;
	    margin-left: 14px;
	    width: 314px;
	    font-size: 14px;
	    text-align: left;

			@include break(landscape) {
				width: 280px;
			}

			@include break(phone) {
				margin: 0;
				width: 100%;
			}

			&:focus {
				outline: none;
			}
		}
		.search-button {
			align-items: center;
			display: flex;
			border: 0;
			background-color: #8B572A;
			justify-content: center;
			height: 55px;
			width: 55px;
	    
	    

			&:focus {
				outline: none;
			}

			i {
				color: #fff;
				font-size: 18px;
				text-align: center;
			}
		}
	}
}
