.filter-ica {
	background-color: #FFFFFF;
	box-shadow: -9px 13px 30px 0 rgba(28,62,111,0.17);
	display: flex;
	height: 55px;
	width: 770px;
	position: relative;

	@include break(landscape) {
		display: none;
		width: 100%;
	}
	@include break(phone) {
		display: none;
		width: 100%;
	}

	.tab-buttons {
		background-color: #fff; 
		color: #91B8B1;
		display: flex;
		font-size: 14px;
		font-family: 'RotisSemiSansStd-Light';
		height: 55px;
		width: 154px;
		position: relative;
		justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);

    &:hover {
    	color: #fff;
    	cursor: pointer;
    	background-color: #826252;
    	-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);
    }
	}

	.active {
		color: #fff;
  	cursor: pointer;
  	background-color: #826252;
  	-webkit-transition: .2s cubic-bezier(.47, .47, .57, .57);
  }

  .ica-body-in {
  	display: block;
  }
}