.body-text-ica {
	height: auto;
    width: 770px;
    position: relative;
	text-align: left;
	padding: 52px 0px 0px 20px;

	@include break(landscape) {
		width: 100%;
	}

	@include break(phone) {
		width: 100%;
	}

	.title-ica {
		color: #91B8B1;	
		font-size: 20px;	
		letter-spacing: 1px;	
		line-height: 24px;
		padding: 0px 0px 0px 0px;

		@include break(landscape) {
			padding: 20px 0px 0px 0px;
		}

		@include break(phone) {
			padding: 20px 0px 0px 0px;
		}

		@include break(small) {
			padding: 20px 0px 0px 0px;
		}
	}	

	.logo-country {
		padding: 34px 0px 34px 0px;
	}

	.content-list-text {

		a {
			color: #333333 !important;

			&:hover {
				color: #333333 !important;						
			}
		}
		
		ul {
			@include break(landscape) {
				padding: 0;
			}

			li {

				@include break(landscape) {
					padding: 0px 40px 0px 40px;
				}

				@include break(phone) {
					padding: 0px 20px 0px 20px;
				}

				a {
					color: #333333 !important;

					&:hover {
						color: #333333 !important;						
					}
				}
			}
		}

		.site {
			&:before {
				content: "\f08e";
				font-size: 16px;
				font-family: FontAwesome;
			}
		}
		.marker {
			&:before {
				content: "\f041";
				font-size: 16px;
				font-family: FontAwesome;
			}
		}
		.phone {
			&:before {
				content: "\f095";
				font-size: 16px;
				font-family: FontAwesome;
			}
		}
		.user {
			&:before {
				content: "\f2be";
				font-size: 16px;
				font-family: FontAwesome;
			}
		}
		.email {
			&:before {
				content: "\f003";
				font-size: 16px;
				font-family: FontAwesome;
			}
		}
	}
	.body-sub-title {
		padding: 10px 0px 14px 0px;

		.title-local,.title-bajada {
			color: #826252;	
			font-size: 20px;	
			letter-spacing: 1px;	
			line-height: 13px;
			text-transform: uppercase;
		}
		.title-bajada {
			text-transform: capitalize;
		}
	}
}

.set-bottom-section {
	padding-bottom: 10px;
}