.nosotros-sidebar-mobile {
	background-color: #91B8B1;
	display: none;
	height: auto;
	position: relative;
	padding: 30px 30px 10px 30px;
	width: 100%;
	z-index: 1103 !important;

	a {
		font-family: 'RotisSemiSansStd-Bold';
		color: #fff;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	@include break(landscape){
		display: block;
	}

	@include break(phone) {
		display: block;
	}


	.sd-head {
		height: 100%;
		position: relative;
		width: 100%;

		a {
			font-family: 'RotisSemiSansStd-Bold';
			color: #fff;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}

			&:before {
				color: #fff;
		    content: '\f107';
		    font-size: 25px;
		    font-family: 'fontAwesome';
		    position: absolute;
		    right: 0px;
		    top: 3px;
			}
		}
		
		span {
			color: #fff;
			font-family: 'RotisSemiSansStd-Light';
		}

	}

	.sd-body {
		//background-color: #BB9861;
		height: 100%;
		width: 100%;
		position: relative;
		padding-top: 20px;

		ul {
			padding: 0px;
			margin: 0;
			display: none;

			li {
				color: #fff;
				font-family: 'RotisSemiSansStd-Light';
				list-style: none;
				padding: 10px 0px 10px 0px;
				position: relative;

				a {
					color: #fff;
					text-decoration: none;
					width: fit-content;
					position: relative;

					&:before {
				    border-bottom: solid 1px #fff;
				    bottom: -4px;
				    content: " ";
				    height: 1px;
				    left: 0px;
						position: absolute;
						transition: width .3s ease-in;
				    width: 0px;
			    }
			    &:hover:before {
			    	transition: width .3s ease-in;
						width: 100%;
			    }

					&:hover{
						text-decoration: none;
					}	
				}

				i {
					color: #fff;
					opacity: 0;
					position: absolute;
					right: 0px;
					top: 13px;
				}
				.active {
					opacity: 1;
				}
				
			}
			.set-padding {
				padding-bottom: 20px;
			}
		}
	}
}