.image-text {
	height: 496px;
	margin-top: 39px;
	margin-bottom: 71px;
	overflow: hidden;
	position: relative; 
	width: 770px;

	@include break(landscape) {
		width: 100%;
	}

	@include break(phone) {
		height: 300px;
	}
}

.set-box-text {
	padding-bottom: 0px!important;
}

.body-nosotros {
	background-color: #E9F1EF;
	padding: 31px 0px 61px 0px;
	width: 100%;

	.body-nosotros-title {
		padding-bottom: 0px !important;
		text-align: center;
	}

	.body-nosotros-title-in {
		color: #826252;
		font-size: 20px;	
		letter-spacing: 1px;	
		line-height: 24px;
		padding: 0px 0px 0px 40px;
		text-align: left;

		@include break(landscape) {
			padding: 0px 0px 0px 10px;
		}
	}

	.line {
		margin-bottom: 44px;
	}

	.content-list-text {
		width: 100%;
		text-align: left;

		ul {
			margin-bottom: 0px;
			
			@include break(landscape) {
				padding-left: 10px;	
			}

			@include break(phone) {
				padding-left: 10px;	
			}
			
			li {
				color: #333333;
				font-size: 16px;	
				letter-spacing: 1px;	
				line-height: 24px;
				padding: 0;

				&:before {
					font-size: 20px;
					@include break(landscape) {
						left: -30px;
					}

					@include break(phone) {
						left: -30px;
					}
				}
			}
			.before-icon {
				&:before {
					@include break(landscape) {
						left: -10px;
					}

					@include break(phone) {
						left: -10px;
					}
				}
			}
		}
	}

	.body-text-aplicaciones {

		.text {
			text-align: left;
		}

		.button { 
			background-color: transparent;
			margin: 0;
			margin-top: 27px;
			padding: 15px 63px 15px 43px;
			position: relative;

			&:before {
				content: "\f019";
				font-family: FontAwesome;
				position: absolute;
				right: 25px;
			}

			&:hover {
				background-color: #91B8B1;
				text-decoration: none;
			}
		}

	}
	.body-text-aplicaciones .alignnone {
		width: 100%;
	}
}

.set-color {
	background-color: #fff;
}

/*
.set-position-sidebar {
	margin-top: 0px!important;
	top: 72%!important;
	position: fixed!important;
	z-index: 9;
} */


