.content-paginator {
	display: inline-block;
	height: 130px;
	width: 100%;
	position: relative;
	display: flex;

	i {
		color: #826252;
		font-size: 20px;
	}

	.nav-links {
		margin: 0 auto;
    margin-top: 50px;

    @include break(phone) {
	   	height: auto;
	    margin: 0 auto;
	    margin-top: 50px;
	    width: auto;
    }

		.page-numbers {
			color: #91B8B1;
			font-size: 14px;
			border: 0.5px solid #B0BCC4;
			background-color: #FFFFFF;
			padding: 18px 27px 18px 26px;

			@include break(phone) {
				padding: 18px 18px 18px 18px;
			}

			@include break(small) {
				padding: 18px 15px 18px 15px;
			}

			&:hover {
				background-color: #91B8B1;
				color: #fff;
				text-decoration: none;

				i {
				 color: #fff;
				}
			}
		}

		.set-border {
			border-right: 0px;
		}

		.page-numbers.current {
			color: #826252;

			&:hover {
				background-color: #91B8B1;
				color: #fff;
				text-decoration: none;
			}
		}
	}
}