.content-resultado-busqueda {

	.info {
	    border-bottom: solid 1px #91B8B1;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    height: 67px;
	    margin-bottom: 35px;
	    position: relative;
	    width: 100%;

    @include break(phone) {
    	height: auto;
    }
		
		h3 {
			color: #91B8B1;
			font-size: 15px;
   			letter-spacing: 2px;
			margin: 0;
    		line-height: 67px;
			font-family: 'RotisSemiSansStd-Light';

			@include break(landscape) {
				padding: 0px 20px;
			}

			@include break(phone) {
		    	font-size: 13px;
		    	padding: 20px 20px;
		    	letter-spacing: 1px;
		    	line-height: 20px;
		    }

			span {
				color: #826252;
			}
		}

	}
	
	.target-last-news {
		padding: 0px 0px 20px 0px;
		height: auto;

		@include break(landscape) {
			width: 29%!important;
		}

		@include break(phone) {
			width: 90%!important;
		}

		.target-last-news-cuerpo {

			@include break(phone) {
				width: 90%!important;
			}

			h3 {
				width: auto;
				margin-top: 20px;

				@include break(landscape) {
					margin: 0 auto;
					padding: 10px 0px;
					width: 90%;
				}

				@include break(phone) {
					padding: 0px;
					margin: 20px 0px 0px 0px!important;
    				width: 100%!important;
				}
			}
		}
		.target-last-news-image{
			height: 182px;
			
			@include break(landscape) {
				height: 150px;
			}

			@include break(phone) {
				height: 150px;
			}

			img {
				@include break(phone){
					height: auto;
					width: 100%;
				} 
			}
		}
	}
	.r-button {
		padding: 5px 70px 0px 70px;
		line-height: 35px;

		@include break(landscape) {
			padding: 7px 50px 8px 50px!important;
		}

		@include break(phone) {
			width: 88%;
			margin-left: 5%;
		}
	}
}