#content-search {
	background-color: #91B8B1;
	height: 0px;
	opacity: 0.5;
	position: relative;
	width: 100%;

	@include break(landscape) {
		display: none;
	}
	@include break(phone) {
		display: block;
	}

	form {
		align-items: center;
		display: flex;
		height: 70px;
		justify-content: center;
    margin: 0 auto;
		width: 870px;

		input {
			background-color: #E9F1EF;
			border: 0;
			height: 50px;
			width: 94%;
			appareance: none;
			outline: none;
			padding: 0px 20px;
			color: #636b6f;
			text-align: left;
    	font-size: 14px;
		}

		button {
			align-items: center;
			background-color: #8B572A;
	    border: 0;
	    height: 50px;
    	width: 50px;
	    display: flex;
	    justify-content: center;

	    &:focus {
	    	appareance: none;
	    	outline: none;
	    }

	    i {
	    	color: #fff;
		    font-size: 18px;
		    text-align: center;
	    }
		}
	}
}

.content-search-on {
	height: 70px!important;
	opacity: 1!important;
}
.content-search-animate {
	-webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
