.signin {
	//height: 100%;
	//min-height: 800px;
	//width: 100%;
	//position: relative;

	@include break(landscape) {
		min-height: 599px;
	}

	@include break(phone) {
		min-height: 600px;	
	}

	.login {
		background-color: #FFFFFF;
		box-shadow: 0 16px 30px 0 rgba(28,62,111,0.17);
		height: 462px;
		margin-left: -160px;
		margin-top: -231px; 
		left: 50%;
		position: absolute;
		top: 50%;
		width: 320px;

		@include break(landscape) {
			width: 90%;
	    margin-left: -45%;
	    top: 10%;
	    margin-top: 0px; 
		}

		@include break(phone) {
			width: 90%;
	    margin-left: -45%;
	    top: 10%;
	    margin-top: 0px; 
		}
	}

	.form-signin {
		position: relative;

		label {
			margin: 31px 0px 0px 0px
		}

		.set-margin-label {
			margin: 22px 0px 0px 0px;
		}

		input {
			margin: 24px 0px 0px 0px
		}

		.button-contact {
			margin: 19px 0px 0px 0px;
			width: 100%;
		}
	}

	.content-other-button {
		display: flex;
		a {
			font-family: 'RotisSemiSansStd-Light';
			letter-spacing: 1px;
			height: 24px;
			width: 213px;
			color: #826252;
			font-size: 12px;
			line-height: 24px;
			display: inline-block;
		}
	}

	.close-signin {
		color: #826252;
		font-size: 16px;
		position: absolute;
		right: 12px;
		top: 12px;
	}
}

.login-mobile {
  width: 90%;
  height: 0px;
  position: fixed;
  top: 0%;
  margin-top: 70px;
  left: 0;
  margin-left: 5%;
  z-index: 1122;
  display: none;
}