.contennt-small-menu-top { 
	width: 100%;
    height: 50px;
    background-color: #fff;
    position: relative;

	@include break(landscape){
		display: none;
	}

	@include break(phone){
		display: none;
	}

	.small-menu-top {
		background-color: #fff;
		height: 50px;
		width: 1170px;
		position: relative;
		margin: 0 auto;

		.form-control {
			font-size: 12px;
			letter-spacing: 1.5px;
			padding: 17px 23px;
		}
	
		.content-select {
			font-family: 'RotisSemiSansStd-Light';
			float: right;
			height: 50px;
			position: relative;
			width: 76px;

			i {
				color: #fff;
				font-size: 12px;
				right: 20px;
				top: 20px;
				position: absolute;
				pointer-events: none;
			}

			select {
				-webkit-appearance: none;
				border: 0;
				border-radius: 0;
				background-color: #91B8B1;
				color: #fff;
				height: 50px;
				width: 100%;
				appareance: none!important;
				outline: none!important;
				border: 0;

			    &:focus {
			    	appareance: none!important;
	    			outline: none!important;
			    }

				option {
					appareance: none!important;
					outline: none!important;

		    	&:focus {
			    	appareance: none!important;
    				outline: none!important;
			    }
	    	}
		}
	}
	  .search {
	  	background-color: #E9F1EF;
	  	float: right;
			height: 50px;
			position: relative;
			width: 50px;

			i {
		  	color: #91B8B1;
		  	font-size: 20px;
		  	position: absolute;
		  	pointer-events: none;
		  	right: 17px;
	    	top: 15px;
		  }
	  }
	  .rrss,.members,.websites {
	  	float: right;
	  	height: 50px;
	  	position: relative;

	  	i {
	  		color: #91B8B1;
	  		display: inline-block;
	  		font-size: 16px;
	  		line-height: 50px;
			vertical-align: middle;
			margin-right: 10px;
			margin-left: 10px;
	  	}

	  	p {
	  		font-family: 'RotisSemiSansStd-Bold';
	  		color: #9C9E9F;
			display: inline-block;
			font-size: 13px;
    		line-height: 53px;
    		letter-spacing: 1px;
	  	}
	  }

	  .rrss {
		padding: 0px 10px 0px 10px;
		min-width: 100px;
	  }

	  .members {
	  	font-size: 11px;
    	min-width: 200px;
	  	padding: 0px 24px 0px 20px;
    	position: relative;
    	-webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
			.open-login {

					cursor: pointer;
					img {
			  		margin-right: 13px;
			  		margin-top: -7px;
			  	}	
			}
	  	.fa-times {
	  		z-index: 9999;
	  		cursor: pointer;
	  	}

	  	&:hover {
	  		color: #fff;
	  		background-color: #91B8B1;
	  		-webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	  		p {
	  			color: #fff;
	  		}

	  		img {
	  			filter: contrast(2000%);
	  		}
	  	}

	  	.content-login {
		    box-shadow: 0 16px 30px 0 rgba(28, 62, 111, 0.17);
		    bottom: -462px;
		    height: 462px;
		    left: -60px;
		    position: absolute;
		    z-index: 1;
	  		width: 320px;
	  		display: none;

	  		.login {

	  		}
	  	}
	  }

	  .websites {
	  	min-width: 260px;
	  	padding: 0px 12px 0px 0px;
   		padding-left: 40px;
   		position: relative;
   		-webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);

	  	&:hover {
	  		background-color: #91B8B1;
	  		color: #fff;
				-webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	  		p {
	  			color: #fff;
	  		}
	  	}
	  }
	}
}
.visible-on {
	display: block!important;
}