.contennt-small-menu-top { 

	.small-menu-top {

		
	  .content-select {
			
	  }
	  .search {
	  	
	  }
	  .rrss,.members,.websites {
	  	
	  }

	  .rrss {

	  	a {
	  		color: #9C9E9F;
	  	  	font-family: 'RotisSemiSansStd-Bold';
	  		font-size: 13px;
	  		line-height: 53px;
	  		text-decoration: none;

	  		&:hover {
	  			//text-decoration: none;
	  			color: #636b6f;
	  			font-family: 'RotisSemiSansStd-Bold';
	  		}
	  	}
	  	
	  }

	  .members {

	  	img {
	  		margin-right: 10px;
	  	}

	  }

	  .websites {
	  	
	  }
	  .button-volver {
   		align-items: center;
	  	display: flex;
	  	height: 50px;
	  	width: 250px;
	  	color: #9C9E9F;

	  	&:hover {
	  		background-color: #91B8B1;
	  		color: #fff;
	  	}

   		i {
   			//color: #91B8B1;
		    display: inline-block;
		    font-size: 16px;
		    line-height: 50px;
		    vertical-align: middle;
		    margin-right: 10px;
		    margin-left: 20px; 
   		}

	  	p {
	  		//color: #9C9E9F;
	  		font-family: 'RotisSemiSansStd-Bold';
	  		line-height: 50px;
	  		margin: 0;
	  	}
	  } 
	}
}

#wpadminbar{
	display: none !important;
}
.back-copper{
	font-size: 14px !important;
}
.contennt-small-menu-top-user {
	display: none;
}

.top-menu-on {
	display: block;
}
.top-menu-off {
	display: none;
}