.is-sticky {
	z-index: 99;
}

#point{
	background-color: rgb(76, 93, 104);
	border-radius: 100%;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	position: fixed;
	z-index: 0;
}
.point-active {
	margin-top: -1500px!important;
	margin-left: -1500px!important;
	width: 3000px!important;
	height: 3000px!important;
	z-index: 9999!important;
	-webkit-transition: 0.7s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}

#sticker-sticky-wrapper {
	display: block;
	
	@include break(landscape) {
		display: none;
	}

	@include break(phone) {
		display: none;
	}
}
#sticky-wrapper {
	height: 0px!important;
}