.slick-dots {
	li {

		button {

			&:before {
				font-size: 12px;
			}
		}
	} 
} 

.slick-dots li.slick-active button:before {
	color: #826252;
  opacity: 0.75;
  font-size: 12px;
}

.slick-dotted.slick-slider {
	padding-bottom: 30px;
}