.super-button {
	border: 2px solid #91B8B1;
	background-color: transparent;
	color: #4C5D68;
	font-family: 'RotisSemiSansStd-Bold';
	font-size: 18px;
	height: 43px;
	line-height: 48px;
	margin: 0px 0px 0px 0px;
	padding: 10px 90px 10px 90px;
	text-transform: uppercase;
	-webkit-transition: 0.2s cubic-bezier(0.47, 0.47, 0.57, 0.57);

	&:hover {
		background-color: #91B8B1;
		color: #fff;
		text-decoration: none;
	}

	span {
		position: relative;
		top: 4px;
	}
}

.set-position {
	margin: 17px 0px 0px 56px;

	@include break(phone) {
		padding: 10px 20px 10px 20px;
    margin: 0px 0px 0px 5%;
	}
}