@keyframes videoCircle{
  0%{
    transform: scale(.001);
  }
  100%{
    transform: scale(1.6);
  }
}
#youtube{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;

  .overview, .overview iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .overview{
    background-color: transparent;
    
    &:before{
      width: 3000px;
      height: 3000px;
      content: '';
      top: 150px;
      left: -28%;
      bottom: 0;
      right: 0;
      border-radius: 100%;
      position: absolute;
      background-color: rgb(76, 93, 104);
      margin: auto;
      display: none;
    }

    iframe{
      display: none;
    }

  }

  button.youtube-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    background-color: #91B8B1;
    color: white;
    z-index: 2;
    border: none;
    appearance: none;
    font-size: 20px;
    transition: .5s;
    
    @include break(landscape) {
      left: 10px;
      top: 10px;
    }

    @include break(phone) {
      left: 10px;
      top: 10px;
    }

    @include break(small) {
      left: 10px;
      top: 10px;
    }

    &:hover{
      background-color: #826252;
    }
  }

  &.is-active{
    display: block;
    .overview{
      &:before{
        display: block;
        animation: videoCircle 1s ease both;
      }
      iframe{
        display: block;
        animation: videoIframe .4s .5s ease both;
      }
    }
  }
}

#point{
  background-color: rgb(76, 93, 104);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  position: fixed;
  z-index: 0;
}
.point-active {
  margin-top: -1500px!important;
  margin-left: -1500px!important;
  width: 3000px!important;
  height: 3000px!important;
  z-index: 9999!important;
  -webkit-transition: 0.7s cubic-bezier(0.47, 0.47, 0.57, 0.57);
}